
    <div class="checkout_step_content" ng-init="setCurrentForm(step_form)" dynamic-content-mover>
        <div class="travelerinstructions">
            <h3>Traveler Information /<span>Please provide all information for each traveler.</span></h3> 
        </div>
        <div ng-show="json.airline_required">
            One or more of your tours include a flight. All travelers must match government issued photo ID.
        </div>
        <div class="travelerinfo" ng-repeat="currentItem in cartItems">
            <div class="itemcontent">
                <div class="tablabel">
                    <div class="tabtitle">
                        {{currentItem.name}}
                    </div>
										<span class="tabdescription">
											{{currentItem.date}}
										</span>
                    <div class="clear"></div>
                </div>
                <div class="traveler" ng-repeat="traveler in currentItem.travelers" ng-class="{'unicorn':!itemRequiresMoreInfo(currentItem) && !currentItem.json.airline_required}">
	                  <label class="traveler-label">{{traveler.variationName}} #{{traveler.variationTravelerIndex + 1}}: <span>(all fields required)</span></label>
                    <div class="traveler-content">
                        <div class="col_name">
                            <!-- Name -->
                            <div class="required" style="width:auto; max-width:300px; float:left;">
                                <!-- <label for="traveler_first_name">First Name <span class="asterix">*</span></label> -->
                                <input  autocomplete="off" class="firstname" title="" name="first_name" ng-model="traveler.first_name" placeholder="First Name" type="text" required />
                            </div>
                            <div style="width:auto; max-width:60px; float:left;">
                                <!--  <label for="traveler_middle_name">Middle Name</label> -->
                                <input autocomplete="off" class="middleinit" name="middle_name" placeholder="MI" type="text" ng-model="traveler.middle_name" />
                            </div>
                            <div class="required" style="width:auto; max-width:300px; float:left;">
                                <!-- <label for="traveler_last_name">Last Name <span class="asterix">*</span></label> -->
                                <input autocomplete="off" class="lastname" name="last_name" placeholder="Last Name" type="text" ng-model="traveler.last_name" required />
                            </div>
                        </div>

                        <div class="col_info" ng-show="currentItem.json.airline_required">
                            <!-- Information -->
                            <div class="col_tsa" ng-show="currentItem.json.airline_required">
                                <!-- TSA Information -->
                                <div class="col_birthday required" ng-show="currentItem.json.airline_required">
                                    <label for="birthday_month_select">Date of Birth
                                        <div class="infotool"><i class="icon-info-sign" dynamic-popover data-title="TSA Airline Requirements" data-content="<div class='popovercnt'><i class='icn-dht-icon-plane'></i><p>Under the TSA Secure Flight program, Discover Hawaii Tours is required to collect Secure Flight Passenger Data.</p><p>This data includes each passenger's full name (as it appears on the passenger's non-expired government issued photo ID), date of birth and gender.</p></div>"
                                            data-original-title="" title=""></i>
                                        </div>
                                    </label>
                                    <!-- <input autocomplete="off" type="hidden" name="birthday" ng-model="birthday_date" ng-required="currentItem.json.airline_required"> -->
                                    <select name="birthday_month" ng-required="currentItem.json.airline_required" class="birthday_month_select" ng-model="traveler.birthday_month" ng-options="month.num as month.name for month in months">
                                        <option value="">Month</option>
                                    </select>
                                    <select name="birthday_day" ng-required="currentItem.json.airline_required" class="birthday_day_select" ng-model="traveler.birthday_day" ng-options="n for n in [] | range:1:31">
                                        <option value="">Day</option>
                                    </select>
                                    <select name="birthday_year" ng-required="currentItem.json.airline_required" class="birthday_year_select" ng-model="traveler.birthday_year" ng-options="n for n in [] | neg_range:1920:2013">
                                        <option value="">Year</option>
                                    </select>
                                </div>
                                <div class="col_gender required" ng-if="currentItem.json.airline_required">
                                    <label>Select Gender</label>
                                    <input autocomplete="off" type="radio" ng-model="traveler.gender" name="gender" value="Male" ng-required="currentItem.json.airline_required"/>
                                    <label for="malebtn" class="male" ng-click="traveler.gender = 'Male'" ng-class="{'checked':traveler.gender == 'Male'}">
                                    <i class="icn-dht-icon-male"></i>
                                    <span class="genderCaption"><p>Male</p></span>
                                    </label>
                                    <input autocomplete="off" type="radio" ng-model="traveler.gender" name="gender" value="Female" ng-required="currentItem.json.airline_required"/>
                                    <label for="femalebtn" class="female" ng-click="traveler.gender = 'Female'" ng-class="{'checked':traveler.gender == 'Female'}">
                                    <i class="icn-dht-icon-female"></i>
                                    <span class="genderCaption"><p>Female</p></span>
                                    </label>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col_extras required" ng-show="itemRequiresMoreInfo(currentItem)">
                            <div class="col_height" ng-show="currentItem.json.height_required">
                                <!-- <label for="height">Height <span class="asterix">*</span></label> -->
                                <div><i class="icn-dht-icon-height"></i>
                                </div>
                                <div class="btn-group" data-toggle="buttons-radio">
                                    <input autocomplete="off" name="height" placeholder="Height" type="text" ng-model="traveler.height" ng-required="currentItem.json.height_required" />
                                    <button type="button" class="btn checkbox" ng-click="traveler.heightlabel='ft'" ng-class="{'active':traveler.heightlabel == 'ft'}">ft/in</button>
                                    <button type="button" class="btn checkbox" ng-click="traveler.heightlabel='cm'" ng-class="{'active':traveler.heightlabel == 'cm'}">m/cm</button>
                                </div>
                            </div>
                            <div class="col_weight required" ng-show="currentItem.json.body_weight_required">
                                <!-- <label for="weight">Weight <span class="asterix">*</span></label> -->
                                <div><i class="icn-dht-icon-scale"></i>
                                </div>
                                <div class="btn-group" data-toggle="buttons-radio">
                                    <input autocomplete="off" placeholder="Weight" name="weight" type="text" ng-model="traveler.weight" ng-required="currentItem.json.body_weight_required" />
                                    <button type="button" class="btn checkbox" ng-click="traveler.weightlabel='lb'" ng-class="{'active':traveler.heightlabel == 'lb'}">lbs</button>
                                    <button type="button" class="btn checkbox" ng-click="traveler.weightlabel='kg'" ng-class="{'active':traveler.heightlabel == 'kg'}">kgs</button>
                                </div>
                            </div>
                            <div class="col_shoe required" ng-show="currentItem.json.shoe_size_required">
                                <!-- <label for="shoe_size">Shoe Size <span class="asterix">*</span></label> -->
                                <div><i class="icn-dht-icon-fins"></i>
                                </div>
                                <div class="btn-group" data-toggle="buttons-radio">
                                    <input autocomplete="off" placeholder="Shoe Size" name="shoe_size" type="text" ng-model="traveler.shoe_size" ng-required="currentItem.json.shoe_size_required" />
                                    <button type="button" class="btn checkbox" ng-click="traveler.shoelabel='lb'" ng-class="{'active':traveler.shoelabel == 'mens'}">mens</button>
                                    <button type="button" class="btn checkbox" ng-click="traveler.shoelabel='kg'" ng-class="{'active':traveler.shoelabel == 'womens'}">womens</button>
                                </div>
                            </div>
                            <div class="col_lunches required" ng-show="currentItem.json.lunches_required">
                                <label for="lunch">Please select your lunch choice.</label>
                                <div><i class="icn-dht-icon-meal"></i>
                                </div>
                                <select ng-required="currentItem.json.lunches_required" name="lunch" ng-options="lunch.name as lunch.name for lunch in currentItem.json.lunches" ng-model="traveler.lunch">
                                    <option value="">--Select a Lunch--</option>
                                </select>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Traveler Info -->
        <h3 class="vacation-information-header">Vacation Information</h3>
        <div class="vacationinfo">
            <div class="col_arrival_date">
                <div class="input-append">
	                  <label for="arrival_date">Arrival Date</label>
                    <input autocomplete="off" readonly name="arrival_date" type="text" data-placement="bottom" data-popover-class="toolcal" placeholder="mm/dd/yy" ng-model="billingData.arrival_date" popover-cal />
                    <span class="add-on" popover-cal-addon><i class="icon-calendar"></i></span>
                </div>
            </div>
            <div class="col_departure_date">
                <div class="input-append">
										<label for="arrival_date">Departure Date</label>
                    <input autocomplete="off" readonly name="departure_date" type="text" data-placement="bottom" data-popover-class="toolcal" placeholder="mm/dd/yy" ng-model="billingData.departure_date" popover-cal />
                    <span class="add-on" popover-cal-addon><i class="icon-calendar"></i></span>
                </div>
            </div>
            <div class="contact_info cell required">
	              <label for="arrival_date">Phone number for contact *</label>
                <input autocomplete="off" placeholder="( xxx ) xxx-xxxx" class="phonefield" name="cell" type="text" ng-model="billingData.cell_phone" mask="phone" ng-required="true">
            </div>
            <div class="col_island" ng-show="hotelService.multipleIslands">
                <label for="island">Your Island</label>
                <select name="option" class="island_hotel_select" ng-model="billingData.island" ng-options="island as island for island in hotelService.islands" ng-change="hotelService.setIslandHotels()">
                    <option value="">--Select an island--</option>
                </select>
            </div>
            <div class="col_hotel" ng-class="{'col_hotel_cleared': !hotelService.multipleIslands}">
                <label for="hotel">Hotel during your stay</label>
                <select name="hotel" data-island="Oahu" class="island_hotel_select" ng-options="hotel as hotel for hotel in hotelService.hotels" ng-model="billingData.hotel">
                    <option value="">--Select your hotel--</option>
                </select>
            </div>
        </div>
        <div class="clear"></div>

        
        <div class="registrationinfo">
            <div ng-repeat="email in billingData.emails">
                <div ng-form="email_form">
                    <div class="contact_info email">
	                      <label ng-if="$index == 0" for="email">Your email address *</label>
                        <input autocomplete="off" placeholder="Email" name="email" class="email_field" type="email" ng-required="true" ng-model="email.address">
                    </div>
                    <div class="contact_info email">
	 											<label ng-if="$index == 0"  for="confirmation_email">Please confirm email address *</label>
                        <input autocomplete="off" placeholder="Email" class="email_confirmation_field" name="confirmation_email" type="email" ng-required="true" ng-model="email.confirmation" match="email.address">
                    </div>

										 <div  class="contact_info addemail" ng-if="$index == (billingData.emails.length - 1)">
	                        <div ng-show="$index > 0" ng-click="removeEmail($index)" style="cursor:pointer"><i class="icon-minus-sign"></i>
	                        </div>

	                    </div>

                    <div style="clear:left; margin-bottom:20px" class="contact_info addemail" ng-if="$index == (billingData.emails.length - 1)">
                        <div ng-show="$index == 0 && !email_form.confirmation_email.$error.mismatch && billingData.emails[billingData.emails.length - 1].confirmation" ng-click="addEmail(email_form)" class="checkout-emailadd"><i class="icon-plus-sign"></i> Add Email</div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="col_notes">
                <div class="col_notes_inner">
                    <label for="notes">Special Requests/ What brings you to Hawaii?</label>
                    <textarea name="notes" ng-model="billingData.notes" rows="3" cols="40"></textarea>
                </div>
            </div>
        </div>
        <div class="clear"></div>
<div id="submitfailure" class="step-failure next-failure" ng-if="!currentForm.$valid && currentForm.$errorMessage"><p ><i class="icon-warning-sign"></i><span ng-bind="currentForm.$errorMessage"></span></p></div>
        <div class="cartstepbuttons">
            <a class="btn checkout" ng-click="handleNext(currentForm)">Next Step</a>
        </div>
    </div>