<table class="steps_table">
	<tbody>
	<tr>
		<td ng-class="{'active':isCurrentStep(0)}">
			<span class="step_number">1</span>
			<p class="step_number_label">
				<span class="step_line1">Traveler Info</span>
				<span class="step_line2">Tell Us About You</span>
			</p>
		</td>
		<td ng-class="{'active':isCurrentStep(1)}">
			<span class="step_number">2</span>
			<p class="step_number_label">
				<span class="step_line1">Payment Info</span>
				<span class="step_line2">Secure Payment Options</span>
			</p>
		</td>
		<td ng-class="{'active':isCurrentStep(2)}">
			<span class="step_number">3</span>	
			<p class="step_number_label">
				<span class="step_line1">Thank You</span>
				<span class="step_line2">Your Exciting Tour Awaits!</span>
			</p>
		</td>
	</tr>
	</tbody>
</table>