
    <div class="checkout_step_content">
	<h4 class="thankmahalo"><span>Mahalo!</span> Thanks for your order</h4>
	<h5 class="thankprocessing">We're processing it now. You will receive an email confirmation shortly.</h4>

	<div class="thankitems"><table ng-repeat="item in finalCartItems">
	    <tr>
		<td class="">
		    <table class="cart_item_tableth">
			<tr>
			    <td colspan="4" class="pad10"><h3>{{item.name}}</h3></td>
			</tr>
			<tr>
				<td class="pad10">
				<div ng-repeat="variation in item.variations" class="variationsthank">
				    <div ng-if="variation && variation.quantity > 0">
					<span><strong>{{variation.quantity}}</strong> {{variation.name}}</span>
				    </div>
				</div>
			    </td>
			    <td class="pad10">Tour Date: <strong>{{item.date}}</strong></td>

			    <td class="pad10">Tour Time: <strong>{{item.time}}</strong></td>

			    <td class="pad10"><span ng-if="finalBillingData.hotel">Your Hotel: <strong>{{finalBillingData.hotel}}</strong></span></td>
			</tr>
		    </table>
		</td>
	</table></div>
	<div class="thankwelcome">
	    <h4>Welcome to Our Family!</h4>
	    <p>Discover Hawaii Tours takes great pride in preserving our Hawaiian heritage. We are delighted to grant you a discovery which will last a lifetime. Please call us at anytime. <strong><a href="tel:808-737-3700">808-690-9050</a></strong></p>
	</div>
    </div>
    <div class="clear"></div>