<div id="wpsc_checkout_total">
    <div class="checkout_total_table">
	<table class="cart_items_sidebar" ng-repeat="item in cartItems">
	    <thead>
	    <tr>
		<th colspan="3">
		    <span class="tour_total_name">{{item.name}}</span> 
		</th>
	    </tr>
	    </thead>
	    <tbody>
	    <tr>
		<td class="ctt_varprice" colspan="2">Tour Total</td>
		<td class="ctt_vartotal" ng-bind-html="item.subtotal | split_cents"></td>
	    </tr>
	    </tbody>
	</table>
    </div>
    <div class="checkout_total_body">
	<table>
	    <tbody>
		<tr>
		    <td>Subtotal</td>
		    <td style="text-align:right"><span class="display_price" ng-bind-html="finalSubtotal || subtotal"></span></td>
		</tr>
		<tr ng-controller="AppCtrl" ng-show="hasDiscount()">
		    <td>Coupon</td>
		    <td style="text-align:right"><span class="display_price" ng-bind-html="finalDiscounts || discounts"></span></td>
		</tr>
		<tr>
		    <td class="total-line">Taxes & Fees</td>
		    <td class="total-line"><span class="display_price" ng-bind-html="finalTax || tax"></span></td>
		</tr>
		<tr>
		    <td class="sidebar-cart-total">Your Total</td>
		    <td style="text-align:right"><span class="display_price" ng-bind-html="finalTotal || total"></span></td>
		</tr>
	    </tbody>
	</table>
    </div>


<!--
    <div class="checkout_total_body_mobile">
	<table>
	    <tbody>
		<tr>
		    <td>Subtotal</td>
		    <td style="text-align:right"><span class="display_price" ng-bind-html="finalSubtotal || subtotal"></span></td>
		
		    <td ng-controller="AppCtrl" ng-show="hasDiscount()">Coupon</td>
		    <td ng-controller="AppCtrl" ng-show="hasDiscount()" style="text-align:right"><span class="display_price" ng-bind-html="finalDiscounts || discounts"></span></td>
		
		    <td class="total-line">Taxes & Fees</td>
		    <td class="total-line"><span class="display_price" ng-bind-html="finalTax || tax"></span></td>
		
		    <td class="sidebar-cart-total">Your Total</td>
		    <td style="text-align:right"><span class="display_price" ng-bind-html="finalTotal || total"></span></td>
		</tr>
	    </tbody>
	</table>
    </div>
-->


    <div class="editcart" ng-show="isCheckout && !isThanksStep()">
	<div class="btn blank"><a href="#/cart"><i class="icon-shopping-cart"></i> Edit Shopping Cart</a></div>
    </div>

<!-- 
<div class="checkoutsidebar">
    <h5><i class="icon-lock"></i> Secure Checkout</h5>
    Shop with safety. Our servers are securely encrypted to protect all of your personal data.
    <h5><i class="icon-heart"></i>  Peace Of Mind Booking</h5>
    Book ahead of time to avoid sold out tours and blackout dates. Rest assured knowing your Hawaii vacation will be memorable!
    <h5><i class="icon-check"></i>  Risk Free Reservations</h5>
    All of our tours (with the exception of those including airfare) are 100% refundable with advance notice.
</div>
<div class="checkoutsidebarbottom">
    <h4>Best Price Guarantee</h4>
    You're getting the lowest possible rate. <a href="#" dynamic-popover data-html="true" data-placement="left" data-title="Best Price Guarantee" data-content="<h2>Maintain peace of mind with our 100% money back guarantee!</h2><p>Your vacation time is valuable and we want you to participate in all the Hawaii tours and activities you want, at your leisure. This is why we have implemented our new 'Money Back Guarantee' policy. Now, when you make your reservation with Fun Hawaii Tours, you can rest assured that you have flexibility with your tours and activities.</p><h3 style='width:90%'>Our Guarantee:</h3><p>Receive a 100% refund if your plans change for any reason, with at least 48 hours notice prior to your tours departure, on all tours that <strong>do not</strong> include airfare.</p><ul class='dht_privacy_policy'><li><strong>Our Policy:</strong></li><li>No cancellation penalties on tours that do not include airfare*</li><li>No service fees, ever!</li><li>No processing fees, ever!</li><li>No change fees, ever!</li><li>Our company will not share or exchange online information you provide to us (including email addresses).</li><li>All personal information you submit is encrypted and secure.</li></ul><ul class='dht_privacy_policy'><li><strong>Tours with airfare:</strong></li><li>Due to airline tickets restrictions, inter-island tours (all tours with flights involved) are non-refundable.</li><li>Airline tickets are non-changeable and non-transferable.</li></ul>" data-original-title="" title="">We guarantee it</a>.
</div>
-->
</div>