<div id="wpsc_checkout_total">
    <div class="checkout_total_body">
        <table>
            <tbody>
                <tr>
                    <td>Subtotal</td>
                    <td style="text-align:right"><span class="display_price" ng-bind-html="subtotal"></span>
                    </td>
                </tr>
                <tr ng-controller="AppCtrl" ng-show="hasDiscount()">
                    <td>Coupon</td>
                    <td style="text-align:right"><span class="display_price" ng-bind-html="discounts"></span>
                    </td>
                </tr>
                <tr>
                    <td class="total-line">Taxes & Fees</td>
                    <td class="total-line"><span class="display_price" ng-bind-html="tax"></span>
                    </td>
                </tr>
                <tr>
                    <td class="sidebar-cart-total">Your Total</td>
                    <td style="text-align:right"><span class="display_price" ng-bind-html="total"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cartcoupon" ng-controller="CouponCtrl" ng-show="isCheckout && !isThanksStep()">
        <div ng-form="couponForm" name="couponForm">
            <input type="text" placeholder="Coupon Code" class="couponfield" name="coupon" ng-model="coupon" /><button class="btn" ng-click="fetchInfo()">Apply</button>
            <span ng-show="couponForm.coupon.$error.invalidCode" class="invalid_coupon_code">That code in invalid</span>
            <span ng-show="couponForm.coupon.$error.alreadyUsed" class="invalid_coupon_code">That code was already used</span>
        </div>
    </div>
    <div class="editcart" ng-show="isCheckout && !isThanksStep()">
        <div class="btn blank"><a href="#/cart"><i class="icon-shopping-cart"></i> Edit Shopping Cart</a>
        </div>
    </div>

    <div ng-if="hasItems()" class="checkoutbuttoncnt" ng-show="!isCheckout && !isThanksStep()">
        <a href="#/checkout/step1" role="button" id="checkoutbutton" class="btn checkout">Check Out Now</a>
    </div>

    <div class="cartstepbuttons" ng-show="isCheckout && !isThanksStep()">
        <div style="float: left;">
            <a class="btn step previous" ng-click="handlePrevious()" ng-show="!isFirstStep()">PREV STEP</a>
        </div>
        <div style="float: right;">
            <a class="btn step next" ng-class="{'disable':currentForm.$valid == false}" ng-click="handleNext()">{{getNextLabel()}}</a>
        </div>
        <div class="clear"></div>

    </div>
</div>