@charset "utf-8";
/* CSS Document */




/* Big Wrapper
---------------------------------------------------------------------*/

#comment_wrapper {
	width: 440px;
	font-family:Arial, Helvetica, sans-serif;
	margin-left: 10px;
	margin-bottom: 15px;
	border:#000 solid 1px;
	padding: 20px;
}




/* Comments
---------------------------------------------------------------------*/

.even_line {
	padding: 10px;
	width: 420px;
	background-color: #ededed;
	font-size: 12px;
	color: #333;
	border-top: 1px solid #333;
}
.odd_line {
	padding: 10px;
	width: 420px;
	background-color: #fff;
	font-size: 12px;
	color: #333;
	border-top: 1px solid #333;
}
.comments_small {
	font-size: 10px;	
	color: #666;
	margin-top: 5px;
}
.error_message {
	margin: 10px 0;
	color: #F00;	
	font-size: 12px;
}
.success {
	margin: 10px 0;
	color: #090;	
	font-size: 12px;
}
.none {
	margin: 10px 0;
	color: #666;	
	font-size: 12px;
	padding-left: 5px;
}
.comment_header_top {
	font-size: 20px;
	font-weight: bold;
	color: #900;
	width: 100%;
	padding: 0 5px 5px 5px;
	
}
.comment_header_bottom {
	font-size: 20px;
	font-weight: bold;
	color: #900;
	width: 100%;
	padding: 5px;
}
.average {
	font-size: 12px;
	color: #333;	
}


/* The Box
---------------------------------------------------------------------*/

#comment_tourdate {
	width: 125px;	
	padding: 3px;
	border: 1px solid #666;
	background-color: #fff;	
	color: #666;
}
#comment_box {
	color: #333;
	width: 350px;
	border: 1px solid #999;
	background-color: #CCC;
	padding: 10px 10px 0 5px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#comment_box em {
	font-weight: bold;
	color: #F00;	
}

#comment_box .text {
	width: 150px;
	padding: 3px;
	border: 1px solid #666;
	background-color: #fff;	
	color: #666;
}
#comment_box .error {
	width: 150px;
	padding: 3px;
	border: 1px solid #f00;
	background-color: #fff;	
	color: #666;		
}

#comment_box input[type=submit] {
	width: 100px;
	height: 30px;
	padding: 3px;
	border: 1px solid #666;
	background-color: #fff;	
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	margin-bottom: 5px;
}
#comment_box input[type=submit]:hover {
	background-color: #999;
	cursor: pointer;
	color: #fff;
}
#comment_box table {
	margin: 0 auto;
	font-size: 12px;
}
#comment_box td {
	padding: 5px;	
}
#comment_box textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 312px;	
	border: 1px solid #666;
	height: 50px;
	padding: 3px;
	color: #666;
	background-color: #fff;
}
#comment_box textarea.error {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 312px;	
	border: 1px solid #f00;
	height: 50px;
	padding: 3px;
	color: #666;
	background-color: #fff;
}




/* Top Stars
---------------------------------------------------------------------*/

.stars {
	margin-left: 3px;	
	width: 100px;
	margin-top: 10px;
}










