@charset "utf-8";
/* CSS Document */


/*---------------------------------------------------- CALENDAR ----------------------------------------------------*/


/*TEXTY POOS
-----------------------------------------------------*/
.calendar_header {display: none; font-size: 15px; color: #990000; margin: 0 auto 5px auto; width: 260px; font-weight: bold;}
a.arrows:link, a.arrows:visited, a.arrows:active {color: #990000; font-size: 26px; font-weight: bold; text-decoration: none;}
a.arrows:hover {color: #CC3300;}
a.day_link:link, a.day_link:visited, a.day_link:active {color: #333333; font-size: 12px; font-weight: bold; text-decoration: none;}
a.day_link:hover {color: #FF0000;}
a.extra_qs:link, a.extra_qs:visited, a.extra_qs:active {color: #333333; font-size: 12px; font-weight: bold; text-decoration: none;}
a.extra_qs:hover {color: #FF0000;}

.small_font {font-size: 11px; color: #333;}
.bold_font {font-weight: bold; font-size: 12px; color: #000000;}

/*OUTER DIVS
-----------------------------------------------------*/
#outer_container {width: 300px; padding: 5px 0; font-family: Arial, Helvetica, sans-serif;}
#calendar_box {
	overflow: auto; width: 260px;	padding: 10px 0;
	border: 1px solid #666666; background-color: #dbd6ed; margin: 0 auto; 
	border-radius: 10px; -moz-border-radius: 10px;
}

/* FORM STUFF
-----------------------------------------------------*/
.date_dropdowns {border: 1px solid #333333; width: 70px;}
.sub_boxes {font-size: 12px; height: 20px; border: 1px solid #333333; color: #333333; padding-left: 3px;}

#add_button {
	margin-bottom: 15px; width: 238px;	height: 50px;
	border: 0px; margin-top: 5px;
	background-image:url('https://secure.discoverhawaiitours.com/omar/files/images/add_to_cart.png');
}
#add_button:hover {
	cursor: pointer;
	background-position: 0 -50px;
}

/* THE TABLE
-----------------------------------------------------*/
#calendar_table td {width: 28px; height: 28px;}

.limited {background-color: #FFFF00; text-align: center; border: 1px solid #666666;}
.available {background-color: #bdcb96; text-align: center; border: 1px solid #666666;}
.soldout {background-color: #FF6600; color: #666666; font-size: 12px; text-decoration: none; text-align: center; border: 1px solid #666666;}
.not_available {background-color: #999999; color: #666666; font-size: 12px; text-decoration: none; text-align: center; border: 1px solid #666666;}
.blank_days {border: 1px solid #999999; background-color: #CCC;}

.day_names {font-size: 12px; font-weight: bold;}


/* SUB TABLE
-----------------------------------------------------*/
#legend {width: 300px; margin: 5px 0 5px 0; font-size: 10px;}
form table {
	width: 270px;
}

/*---------------------------------------------------- CART ----------------------------------------------------*/


/*TEXTY POOS
-----------------------------------------------------*/
#cartheadline {color: #CC3300; width: 100%; font-size: 20px; font-weight: bold; margin: 10px 0;}
a.tour_link:link, a.tour_link:visited, a.tour_link:active {font-size: 16px; color: #333; text-decoration: none; font-weight: bold;}
a.tour_link:hover {color: #333;}
a.remove:link, a.remove:visited, a.remove:active {font-size: 10px; color: #666; font-weight: bold; text-decoration: none;}
a.remove:hover {color: #666;}
.cart_total {color: #336633; font-weight: bold; font-size: 22px; margin-top: 5px;}

a.continue_shopping:link, a.continue_shopping:visited, a.continue_shopping:active {
	width: 150px; height: 25px; background-image: url("https://secure.discoverhawaiitours.com/omar/files/images/continue_shopping.gif");
	display: block; text-indent: -3000px; margin-right: 25px;
}
a.continue_shopping:hover {
	background-position: 0 -25px;
}
.cart_date {font-size: 14px; color: #666;}

/*OUTER DIVS
-----------------------------------------------------*/
#cart_container {width: 580px; font-family: Arial, Helvetica, sans-serif; margin: 30px 0 10px; border: 1px solid #ccc; padding: 10px; -moz-border-radius: 10px;	border-radius: 10px; background-color: #fff; padding-bottom: 25px;float: left;}
#header_fix {
	width: 580px; 
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #ccc;
}

/*THE TABLE
-----------------------------------------------------*/
#cart_table {font-size: 12px; width: 570px;} 
#cart_table th {text-align: center; color: #333; font-weight: bold;}
.row_color {background-color: #fff; color: #FFFFFF; height: 55px;}
.additions {font-size: 10px; color: #999;}
.totals_line {background-color: #fff; color: #336633; height: 55px;}
.incart_price{color: #336633; font-size: 16px; font-weight: bold;}
.bottom_dash{border-bottom: 1px solid #ccc; height: 2px; width: 100%;}

/*FORM STUFF
-----------------------------------------------------*/
.update_button {
	cursor: pointer; width: 84px; height: 23px; border: 0;
	background-image: url("https://secure.discoverhawaiitours.com/omar/files/images/updatecart.png");
}
.update_button:hover {background-position: 0 -23px;}
.passenger_boxes {font-size: 10px; border: 1px solid #666666; padding: 3px;}

.coupon_box {font-size: 10px; border: 1px solid #999999; padding-left: 3px;}
.coupon_button {font-size: 10px; border: 1px solid #999999; padding-left: 3px;}

#cart_button {display: block; width: 238px; height: 50px; background-image: url("https://secure.discoverhawaiitours.com/omar/files/images/checkout.gif");}
#cart_button:hover {background-position: 0 -50px;}
#cart_button span {display: none;}


/*---------------------------------------------------- CHECKOUT ----------------------------------------------------*/


/* BIG DIV
-----------------------------------------------------*/
#co_container {width: 970px; border: 1px solid #666; font-family: Arial, Helvetica, sans-serif; margin: 20px auto; background-color: #fff; padding-top: 15px; padding-left: 10px; -moz-border-radius:10px; border-radius: 10px; font-size: 12px;}


/* TEXTY POOS
-----------------------------------------------------*/
a.cart_tour:link, a.cart_tour:visited, a.cart_tour:active {font-size: 14px; color: #333; text-decoration: none; font-weight: bold;}
a.cart_tour:hover {text-decoration: underline;}
a.cart_remove:link, a.cart_remove:visited, a.cart_remove:active {font-size: 12px; color: #225f8b; text-decoration: none; font-weight: bold;}
a.cart_remove:hover {text-decoration: underline;}
.cart_additions {font-size: 10px; color: #666666;}
.cart_price {color: #225f8b; font-weight: bold; font-size: 18px;}
.check_out_errors {color: #FF0000; width: 680px; margin: 10px 0; font-size: 12px;}
.extras_content, .extras_content table {font-size: 12px;}
.tsa_text {font-size: 12px; color: #09F; margin-top: 3px;}
em {font-weight: bold; color: #FF0000; font-size: 12px;}
.mid_boxes, .mid_boxes table {font-size: 12px;}
#terms_content {font-size: 12px;}
#terms_content a {font-weight: bold; color: #369; text-decoration: none;}
#terms_content a:hover {text-decoration: underline;}

a.checkout_continue:link, a.checkout_continue:visited, a.checkout_continue:active {
	color: #000000; font-size: 18px; font-weight: bold;
	text-decoration: none; margin: 0 20px; padding: 5px;
}
a.checkout_continue:hover {
	text-decoration: underline;
}
.passenger_header {font-size: 12px; font-weight: bold;} 
.checkout_cart_subtotals {color: #225f8b; font-size: 14px; font-weight: bold;}



/* CHECKOUT BOXES
-----------------------------------------------------*/

.checkout_boxes_even {
	overflow: auto; border-bottom: 1px solid #ccc; width: 700px; background-color: #f4f4f4;
	padding: 10px;
}
.checkout_boxes_odd {
	overflow: auto; border-bottom: 1px solid #ccc; width: 700px; background-color: #fff;
	padding: 10px;
}
.checkout_headers {
	margin-top: 5px; color: #369; font-size: 16px; font-weight: bold;
}
.checkout_top_line {
	border-bottom: 1px solid #ccc; width: 720px; height: 1px;	
}
.butty_poo {width: 238px; height: 50px; display: block; margin-left: 483px; margin-top: 25px; margin-bottom: 20px;}
#terms_content {width: 600px; padding: 15px;}


/* TABLES
-----------------------------------------------------*/

#cart_box table {width: 100%; font-size: 12px; padding: 0;}
#cart_box td {padding: 5px;}
.cart_even_rows {height: 50px;}
.cart_odd_rows {height: 50px;}
.mid_boxes_content table {width: 100%; margin: 0 auto;}
.mid_boxes_content table table {width: 100%;}
.co_cart_bottom {border-bottom: 1px solid #ededed; height: 1px; width: 100%;}
.checkout_bottom_table {width: 400px; margin: 25px 230px 25px 0; float: right; }

/*FORM STUFF 
-----------------------------------------------------*/

a.edit_cart:link, a.edit_cart:visited, a.edit_cart:active {
	font-size: 10px; color: #FFFFFF; text-decoration: none;
	padding: 5px; background-color: #225f8b;
}
a.edit_cart:hover {color: #CCCCCC;}
.extras_content input, .extras_content select {padding: 2px; border: 1px solid #666666;}
.extras_content input{width: 200px; border: 1px solid #666666;}
.small_drop {width: 95px; margin-right:5px; padding: 2px; border: 1px solid #666666;}
.small_drop_error {width: 95px; margin-right:5px; padding: 2px; border: 2px solid #ff0000;}
.checkout_boxes {width: 200px; border: 1px solid #666666; margin: 0; padding: 2px;}
.checkout_errors {width: 200px; border: 2px solid #ff0000; margin: 0; padding: 2px;}
.checkout_dropdown {width: 200px; border: 1px solid #666; padding: 2px; margin: 0;}
.checkout_dropdown_error {width: 200px; border: 2px solid #ff0000; padding: 2px;}
.checkout_calendar_boxes {width: 171px; padding: 2px; margin: 0; border: 1px solid #666666;}
#checkout_button {display: block; width: 238px; height: 50px; background-image: url("https://secure.discoverhawaiitours.com/omar/files/images/complete.png"); border: none;}
#checkout_button:hover {background-position: 0 -50px; cursor: pointer;}
.extra_dropdowns {width: 100px; border: 1px solid #666; padding: 3px;}
.extra_dropdown_error {width: 100px; border: 2px solid #FF0000; padding: 3px;}

.co_update_button {
	cursor: pointer; width: 66px; height: 23px; border: 0; display: block;
	background-image: url("https://secure.discoverhawaiitours.com/omar/files/images/editcart.png");
}
.co_update_button:hover {background-position: 0 -23px;}


/* RIGHT COLUMN
-----------------------------------------------------*/
#checkout_right{float: right; margin: 30px 10px 0 0; font-size: 12px;}
.checkout_right_top { 
	border-radius: 10px; -moz-border-radius: 10px; background-color: #f4f4f4; 
	padding: 10px; width: 200px; overflow: auto; margin: 0 0 10px 0;
} 
.checkout_right_boxes { 
	border-radius: 10px; -moz-border-radius: 10px; background-color: #f4f4f4; 
	padding: 10px; width: 200px; overflow: auto; margin: 10px 0;
} 
.right_image {clear: both; float: left; margin: 10px 10px 5px 5px;}

.right_text{float:right; width: 150px; margin: 10px 0; line-height: 1.5;}

#checkout_right strong {margin-top: 5px;}

.checkout_right_header{font-size: 14px; color: #333; font-weight: bold; margin-bottom: 10px;}

.checkout_right_boxes ul {margin: 0 auto; padding: 0;}
.checkout_right_boxes li {list-style-type: none; margin: 10px auto; text-align: center;}



/*---------------------------------------------------- THANK YOU PAGE ----------------------------------------------------*/


/* OVERALL
-----------------------------------------------------*/
#ty_wrap {font-family: Arial, Helvetica, sans-serif; font-size: 14px;}
#ty_wrap img {margin: 10px auto 0 auto;}

/* TEXTY POO
-----------------------------------------------------*/
#ty_mahalo {margin: 10px auto; width: 600px; color: #cc3300; font-weight: bold; font-size: 18px;}
#ty_mahalotext {margin: 0 auto; width: 600px; text-align: left; color: #333333;}
#ty_mahalotext strong {font-weight: bold; color: #cc3300;}
#ty_mahalotext a {color: #cc3300; font-size: 14px; text-decoration: underline; font-weight: bold; margin-top: 10px;}
#ty_questions {padding: 10px;}

/* BIG BOXES
-----------------------------------------------------*/
.ty_head {
	width: 905px; background-color: #225f8b; padding: 5px 5px 5px 10px;
	margin-top: 10px; color: #FFFFFF; font-size: 16px; font-weight: bold; 
	-moz-border-radius-topleft: 5px; border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px; border-top-right-radius: 5px;
}
.ty_box {
	width: 910px; overflow:auto; border: 5px solid #225f8b;
	border-top: none; margin-bottom: 10px;
	-moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px; border-bottom-right-radius: 5px;
}

/* TABLES
-----------------------------------------------------*/
.ty_box table {width: 80%; font-size: 14px; padding: 0; margin: 0 auto;}
.ty_box td {padding: 5px;}






/*---------------------------------------------------- CONFIRM PAGE ----------------------------------------------------*/


/* TEXTY POOS
-----------------------------------------------------*/
#confirm_status{font-weight: bold; color: #cc3300;}


/* BIG DIV
-----------------------------------------------------*/
#confirm_wrap {font-family: Arial, Helvetica, sans-serif;}


/* TABLES
-----------------------------------------------------*/
.confirm_box table {width: 90%; font-size: 14px; padding: 0; margin: 5px auto;}
.confirm_box td {padding: 5px;}


/* BOXES
-----------------------------------------------------*/
.confirm_head {
	width: 905px; background-color: #225f8b; padding: 5px 5px 5px 10px;
	margin-top: 10px; color: #FFFFFF; font-size: 16px; font-weight: bold; 
	-moz-border-radius-topleft: 5px; border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px; border-top-right-radius: 5px;
}
.confirm_box {
	width: 910px; overflow:auto; border: 5px solid #225f8b;
	border-top: none; margin-bottom: 10px;
	-moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px; border-bottom-right-radius: 5px;
}
#confirm_questions {padding: 10px; font-size: 13px;}


.pax_error { width:100%; height:30px; background-color:#ffc1c1; border:1px solid #e97a7a; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius:3px; border-radius:3px; font-family:Arial; font-size:14px; line-height:30px; color:#a92828; margin:8px 0px; padding-left:8px; }
.pax_error span { font-weight:bold; }
