body {
	margin-left:45px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:url(https://www.toursandexcursions.com/vphtrez/images/BG.jpg) top left no-repeat;
	background-attachment:fixed;
}
#click{
	margin:auto;
	padding:0px;
	position: relative;
	top:-680px;
    left:-97px;
	z-index:50;
}
.Buttons {
	font-family:Arial, Helvetica, sans-serif;Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #900;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #900;
	margin-top: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
}

.content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}
.content2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}

.disclaimer_home {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
}
.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}
.med {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #093;
}

.start_at {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
}

.sales {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #900;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
}
.prices {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #900;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
}

.prices-retail {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
	text-decoration:line-through;
}

.additions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#F00;
	font-style:italic;
}

.disclaimer_fix{
	width:280px;
	margin:0 auto;
	clear:both;
}
