.sliderwrapper{
	position: relative; /*leave as is*/
	overflow: hidden;
	width: 885px; /*width of featured content slider*/
	height: 240px;
}

.sliderwrapper .contentdiv{
	visibility: hidden; /*leave as is*/
	position: absolute;  /*leave as is*/
	top: 0;
	background: white;
	width: 885px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
	height: 240px;
    filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

.pagination{
	width: 100px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
	text-align: center;
	margin-left: 54px;
	margin-top: 10px;
	height: 25px;
	line-height: 25px;
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat; 
}

.pagination a{
	text-align: center;
	margin-left: 54px;
	margin-top: 10px;
	height: 25px;
	line-height: 25px;
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat; 
}

.pagination a:hover, .pagination a.selected{
	text-align: center;
	margin-left: 54px;
	margin-top: 10px;
	height: 25px;
	line-height: 25px;
	background-image: url(../images/2.jpg);
	background-repeat: no-repeat; 
}


.links{
padding-left:50px;
padding-top:10px;
}

.links a img{
width:34px;
height:32px;
border:0;
}
