/* GENERAL */
* {
	margin: 0;
    padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: #7a919f;
	text-decoration: none;
}
a:hover {
	color: #21390A;
}
.white a {
	color: #FFFFFF;
	font-weight:bold;
}
.white a:hover {
	text-decoration:underline;
	color: #FFFFFF;
}
a:active, a:visited {
	text-decoration: none;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	color: #213E0D;
	margin-top: 10px; 
}
p {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: normal; 
	text-decoration: none; 
}
form fieldset {	border: 0; }
form fieldset p br { clear: left; }
input {
	font-family: Tahoma;
	font-size: 14px;
    border: 1px solid #CCC;
    background-color: #FFF;
	color: #7a919f;
	padding: 5px;
	margin-left: 5px;
	margin-top: 5px;
}
input.countbox {
	font-size: 11px;
	padding: 2px;
	color: #666666;
	margin: 0;
}
input.login {
	margin-left: 69px;
	padding: 5px;
	padding-left: 59px;
	padding-right: 58px;
}
input.register {
	margin-left: 116px;
	padding: 5px;
	padding-left: 50px;
	padding-right: 51px;
}
input:hover {
	border: 1px solid #7a919f;
}
input:hover[type="submit"], input:hover[type="button"]{
	border: 1px solid #7a919f;
    background-color: #7a919f;
	color: #FFFFFF;
}
textarea {
	color: #7a919f;
	font-family: Tahoma;
	font-size: 14px;
    border: 1px solid #CCC;
	margin-left: 5px;
	margin-bottom: 5px;
    background-color: #FFF;
    padding: 5px;
}
textarea:hover {
	border: 1px solid #7a919f;
}
select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px;
	width: 80px;
	border: 1px solid #CCC;
	color: #666666;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
select:hover {
	border: 1px solid #7a919f;
}
select.status {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px;
	width: 75px;
	color: #666666;
}

/* IDS */
#main {
	width: 600px;
    margin: 30px auto;
	padding: 10px;
    border: 1px solid #CCC;
    background-color: #EEE;
}
#review {
	width: 480px;
    margin: 30px auto;
	padding: 10px;
    border: 1px solid #CCC;
    background-color: #EEE;
}
#login {
	width: 315px;
    margin: 50px auto;
	padding: 10px;
    border: 1px solid #CCC;
    background-color: #EEE;
}
#register {
	width: 315px;
    margin: 50px auto;
	padding: 10px;
    border: 1px solid #CCC;
    background-color: #EEE;
}
#body {
	padding: 5px;
	color: #FFFFFF;
	background: #21390A; 
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
}
#body p a {
	color:#ffffff;
	padding: 5px;
	text-decoration: none;
}
#body p a:hover {
	color:#21390A; 
	background: #FFFFFF; 
	font-weight: bold;	
	padding: 10px;
}

/* CLASSES */
tr.odd td {background-color: #f7f7f7; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; }
tr.even td {background-color: #EEE; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; }
tr.one td {background-color: #21390A; font-family: Arial, Helvetica, sans-serif; text-align: center; font-size: 12px; padding: 5px; }
.asterix {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; color: #e14343; }
.memberadmin {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none; color: #cc6666; }
.red {font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; text-decoration: none; color: #e14343; }
.green {font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; text-decoration: none; color: #43bb30; }
.style1 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #555555; }
.style2 {font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #666666 }
.style3 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #666666 }
.style4 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; vertical-align: top; }
.gray {font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #666666; font-weight:bold; }
.sortstyle {font-family: Arial, Helvetica, sans-serif; font-size: 10px; padding-left: 30px; float:left; }
.sortstyle1 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; padding-left: 30px; margin-top: 5px; float:left; }
.sortstyleadmin {font-family: Arial, Helvetica, sans-serif; font-size: 10px; padding-right: 15px; }
.graybar {color:#666666; border: 1px solid #CCC; background-color: #F7F7F7; margin-top: 10px; margin-bottom: 5px; padding: 5px; width: 500px; height: 23px; }
.redbar {font-family: Tahoma; font-size: 12px; background-color: #ffcccc; border: 1px solid #fda9a9; color:#e66565; padding: 5px; margin-bottom: 5px;}
.captcha {padding-left: 5px; }
.stars {padding-left: 5px; }
#little {
	padding-top: 25px;
}

#little a
{
	font-size: 11px;
	padding-top: 10px;
	color: #DA6D71;
}
#little a:hover
{
	font-weight: bold;
}