.commentsystem {
	padding:0px;
	margin-top:0px;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	clear:both;
	line-height:normal;
}

.commentsystem .error {
  color: #FFFFFF;
  padding:4px;
  padding-left:5px;
  background-color:#FF0000;
  border:1px solid #990000;
  line-height:14px;
  margin-bottom:10px;
}

.commentsystem .success {
  color: #FFFFFF;
  padding:4px;
  padding-left:5px;
  background-color:#009900;
  border:1px solid #006600;
  line-height:14px;
  margin-bottom:10px;
}

.commentsystem .commentslist {
	clear:both;
}

.commentsystem .comment {
	margin-bottom:10px;
}

.commentsystem .comment .meta {
  font-size: 11px;
  color: #77BBFF;
  background-color:#DDEEFF;
  border:1px solid #BBDDFF;
  padding:4px;
  padding-left:5px;
  padding-right:5px;
  height:14px; !important
}

.commentsystem .comment .meta .author_name {
	float:left;
	font-weight:bold;
	letter-spacing:1px;
}

.commentsystem .comment .meta .comment_details {
	float:right;
	color:#999999;
	}
	

#commentform_verificationimage {
	width:100px;
	height:20px;
}

.comment_text {
	background-color:#FAFAFA;
	padding:4px;
	padding-left:5px;
	border:1px solid #EEEEEE;
	border-top:none;
	overflow:hidden;
	text-align:left;
}


/* the form */

.commentsystem form {
	margin:0px;
	line-height:normal;
	padding:10px;
	margin-bottom:10px;
	background-color:#FAFAFA;
	border:1px solid #EEEEEE;
}

.commentsystem label {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.comment_form_text_box {
	border: 1px solid #7F9DB9;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:1px;
}

.comment_form_text_area {
	border: 1px solid #7F9DB9;
	width:400px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 12px;
	padding:3px;
	margin:0px;
	margin-right:10px;
}
.comment_form_submit {
	margin-top:10px;
	height:22px;
	font-size:12px;
	border: 1px solid #7F9DB9;
	background-color:#F1F1F1;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.commentsystem .editing_form {
	margin:0px;
	line-height:normal;
	background-color:#FAFAFA;
	border:none;
}


.commentsystem .editing_comment_form_text_area {
	border: 1px solid #7F9DB9;
	width:100%;
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 12px;
	padding:3px;
	margin:0px;
}

/* inline editing */

.commentsystem .comment_text textarea{ 
	width: 98%; 
	height: 100px;
}


/* pagination >>> */

.commentsystem .pagination {
	text-align:right;
	float:right;
	padding-top:3px;
	margin-bottom:10px;
	padding-bottom:3px;
	line-height:20px;
	direction:ltr;
	}

.commentsystem .pagination a:link, .commentsystem .pagination a:visited{
	padding:6px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EEEEEE;
	margin-left:10px;
	text-decoration:none;
	background-color:#FAFAFA;
	color:#666666;
	margin-bottom:2px;
	}

.commentsystem .pagination a:hover {
	background-color:#DDEEFF;
	color:#666666;
	border:1px solid #BBDDFF;
	}

.commentsystem .pagination .active_link {
	padding:6px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #BBDDFF;
	margin-left:10px;
	text-decoration:none;
	background-color:#DDEEFF;
	color:#000000;
	cursor:default;
	}

.commentsystem .pagination .disabled_pagination {
	padding:6px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EEEEEE;
	margin-left:10px;
	text-decoration:none;
	background-color: #FAFAFA;
	color:#CCCCCC;
	cursor:default;
	}

/* <<< pagination */

.add_comment_button{
	padding:6px;
	padding-top:4px;
	padding-bottom:4px;
	border:1px solid #BBDDFF;
	text-decoration:none;
	background-color:#DDEEFF;
	color:#000000;
	cursor:pointer;
	margin-bottom:10px;
	}

.comments_area_title{
	padding:6px;
	padding-top:4px;
	padding-bottom:4px;
	border:1px solid #000079;
	text-decoration:none;
	background-color:#0072BC;
	color:#FFFFFF;
	margin-bottom:10px;
	}