/*****************************
* Styles for sidebar Calendar
*****************************/

/*styles for calendar widget */
.cal-wrapper {display: table; width:100%; clear: both; margin: 0%;position:relative;min-height:266px}

.availentry {
    list-style-type: none;
    color: #333;;
    margin: 0;
    font-size: 10px;
    padding: 10px 0px;
}
.availentry li{
    margin: 0;
    display: block !important;
}
.availentry .add-on{
    color: #444;
}
input.availdatefield {
width: 158px;
margin: 0 1px;
text-indent: 5px;
padding: 5px 2px;
}
.availentry input, .availentry select{
    margin: 0;
    display: inline !important;
}
.availentry label {
margin: 0px auto;
width: auto;
padding: 0px;
font-size: 14px;
color: #333;
margin-top: 0px;
font-family: 'Open Sans';
font-weight: 800;
}
.avail-date-div{
 position: relative;
left: 0px;
}
.availentry .participants li {
padding: 0;
width: 100%;
float: left;
margin: 5px 0px;
}
.availentry .participants {
padding: 0px;
text-align: center;
width: 145px;
margin: 0px auto;
position: relative;
}
.availentry .participants select{
   font-size: 15px;
background: white;
display: inline-block;
float: right;
}
.availtime {
    text-align: center;
    margin: 0 0 10px 0;
}
/*end styles for calendar widget */





/*****************************
* Styles for sidebar Calendar
*****************************/
/* styles for activity order section */

.activitymodal-availcal{width: 275px;padding-top: 10px;margin: 10px auto 20px auto;text-align: center;min-height:512px;background-color: #E4F1F6;-moz-border-radius: 6px;border-radius: 6px;border: 1px solid #060;font-size: 12px;}
.activity-booking .activity_product_name{font-weight: bold;font-size: 15px;margin-bottom: 15px;display: none;}
#bfields-wrapper{margin-top: 4px;}
#bfields-wrapper label{display: block;clear:both;width: auto;padding: 0 20px;text-align: right;font-size: 12px;color: #333;}
#bfields-wrapper #tour_date_input{
  width: 83px; margin-bottom: 12px;
}
#bfields-wrapper select,.activity-booking .product_form input[type="text"]{font-size: 15px;background: white;display: inline-block;margin-left: 15px;}
#bfields-wrapper .variation_cost{display: none;}
#bfields-wrapper .subtotal_label{font-size: 18px;color: black;font-weight: bold;padding: 10px 0 0 0;}
#bfields-wrapper .subtotal_cost{font-size: 24px; color: #c00;}
/* end styles for activity order section */

/*styles for calendar widget */
.AvailabilityCalendarWidget {margin-left:0px !important}
#bcal-wrapper { display: table; width:100%; clear: both; margin: 0 auto;}
#bfields-wrapper { display: table; clear: both; margin: 0 auto;}
.cal-obj table { border-collapse: collapse;border: 2px solid #666;font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #333;margin: 0 auto 0 auto;background-color: #eaeaea;}

.cal-obj .bcal-nav {color: #F60;text-decoration: none;font-size: 26px;font-weight: bold;}
.cal-obj .bcal-disabled-nav{font-size:0px !important}
.cal-obj .bcal-month {display: none}
.cal-obj td, .cal-obj th {text-align: center;border: 1px solid #666;padding:0px;min-width:35px;font-size: 19px;color: #999;font-weight:bold}
.cal-obj th {color:black;font-weight:bold}
.cal-obj td {height:38px;}

.cal-obj .bcal-empty{ color: #eaeaea }
.cal-obj .bcal-date {color: #999;background:#ccc;font-size: 20px;}
.cal-obj .bcal-date:hover {color: #999;background:#ccc;font-size: 20px;}
.cal-obj .bcal-available {background:#7bd429; color: black;font-weight:bold;font-size: 12px}
.cal-obj .bcal-available:hover, .cal-obj .bcal-selected {color: #222;background:#f1f29e;font-size: 20px;}
.cal-obj .bcal-available-price{display:block;margin:0px;padding:0px;font-size:9px !important;line-height:8px;font-weight:normal}
.cal-obj select {padding: 2px !important;font-size: .95em !important;border: 1px solid #333 !important;margin: 10px 2px !important;width: 80px !important;color:#000 !important;}




/*Tour Times Styles*/
.tour-times {text-align: center;
color: #1d666b;
font-size: 13px;
width: 274px;
margin: 10px auto;}
.tour-times span {font-size:10px;}

/* legend wrapper */

.key {
 display: block;
float: left;
margin: 10px 0px;
width: 100%;
padding: 1px 11px;
}

.key > div.legend {
    font-size: 10px;color:black; display: inline; vertical-align: top;margin-right: 5px;float:left;
}

.key > div span:first-child{
    width: 20px;
    height: 15px;
    background-color: #7bd429;
    margin: 5px 5px 0 0;
    border: 1px solid #333;
    float: left;
}

.key > div span:last-child{
    position: relative;
  top: 5px;
}

.key > div.keyunavail span:first-child{
    background-color: #ccc;
}

.keyunavail {
    margin-left: 10px;
}

/* end legend styles */


/* loader styles */
.cal-loader { 
  display: none;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 130px;
  left: -5px;
  z-index: 999; 
}
/* end loader styles */

.package-item-name{
  width: 120px;
}

.package-item-input-append{
  display: block !important;
}

.package-item-input-append label{
  width: 100%;
  text-align:center;
  padding: 0px;
  margin-top: 17px;
}

.package-item-input-append:first-child label{
  margin-top: 0px;
}

.package-item-input-append:last-child{
  margin-bottom: 15px;
}

h2.package-items-header{
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  color: #444;
}

.tour-pricing {
width: 275px;
display: block;
border: 1px solid #cecece;
padding: 10px 0;
-moz-border-radius: 6px;
border-radius: 6px;
background: #E4F1F6;
min-height: 41px;
margin: 0px auto;
}
.tour-pricing table td {
  text-align: center;
}
.tour-pricing table td .tour-pricing-name {
  font-size: 90%;
}
.tour-pricing table td .tour-pricing-price {
  color: #65969d;
  font-size: 120%;
  font-weight: bold;
}
.tour-pricing table td .tour-pricing-price sup {
  vertical-align: middle;
  font-size: 12px;
}

input[type="submit"]#activity_add_button {
  margin: 10px 0; 
  width: auto;
  height: 44px;
  border: #9e5e32 solid 1px;
  padding: 2px 6px;
  border-radius: 5px;
  color: #020469;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(bottom, rgb(254,112,4) 30%, rgb(252,207,60) 45%);
  background-image: -o-linear-gradient(bottom, rgb(254,112,4) 30%, rgb(252,207,60) 45%);
  background-image: -moz-linear-gradient(bottom, rgb(254,112,4) 30%, rgb(252,207,60) 45%);
  background-image: -webkit-linear-gradient(bottom, rgb(254,112,4) 30%, rgb(252,207,60) 45%);
  background-image: -ms-linear-gradient(bottom, rgb(254,112,4) 30%, rgb(252,207,60) 45%);
}

textarea.text {
    border-radius: 3px;
    border-color: #cecece;
}
.pricedisplay small {
  font-weight:normal;
}
    /*
font-family: 'Bitter', serif;
font-family: 'Open Sans', sans-serif;

Green:
color: rgb(91,137,50);

Dark Gray:
color: rgb(70, 70, 70)

Light Gray
color: rgb(161, 161, 161)
*/
#wpsc_checkout_process input[type="text"], #wpsc_checkout_process textarea, #wpsc_checkout_process input[type="email"]{
  padding: 6px;
    height: 20px;
}

.col_contact .street input {
width: 100% !important;
max-width: 547px !important;
}

.col_lunches label{
    margin: 1px 0px 1px 7px;
}

#checkout_container h2, #checkout_container h3, #checkout_container h4, #checkout_container h5, #checkout_container h6{
  color: #293764;
  font-family: 'Bitter', sans-serif;
}

#checkout_container h3{
  font-size: 14px;
    font-family: "Bitter", sans-serif;
    font-weight: bold;
  margin: 15px 0px 15px 0px;
}

#checkout_container .add-on{
  padding: 4px 5px 3px 4px;
  font-size: 18px;
}

input.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty{
  border: 1px solid red;
}
#checkoutModal .modal-body, #checkoutStepsModal .modal-body{
  height: 646px;
  max-height: 646px !important;
}
#sidebar2{display:none}

.wpsc_checkout_errors{
  margin:0px
}

.street{
width: 100%;
max-width: 575px;
}


.step_number_label{
  display:inline-block;
  text-align: left;
  margin-left: 0px;
}
.checkout_total_header{
  padding: 15px;
  font-size: 10px;
  background: rgb(57, 90, 111);
  color: rgb(176,189, 197);
  line-height: 13px;
  font-family: serif;
}

.checkout_total_header h3{
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  font-weight: 100;
  line-height: 23px;
}

.display_price{
  color: #455769;
  font-size: 17px;
  letter-spacing: 1px;
    float: right;
  font-family: 'Bitter', serif;
}

.display_price sup{
  top: -0.5em;
  font-size: 63%;
  letter-spacing: auto;
}


.cart_items{
  display: block;
  width: 75%;
  float: left;
}
.cart_totals{
  display: block;
  width: 20%;
  float: right;
  background: rgb(148, 148, 148);
  position: relative;
  height: 591px;
}
.total_checkout_buttons{
  position: absolute; 
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px 10px;
}


#checkoutModal{
  background: rgb(232, 233, 233);
}

/* Styles for cart Modal */
#cboxLoadedContent { text-align: center;}
.cart-modal-contents { }
.cart-modal-contents h4 { text-align: center; margin: 10px 0 5px 0;}
.cart-modal-contents div { width: 100%; text-align: center;}
.cart-modal-contents .cart-modal-line-item { margin: 0 6px;}
.cart-modal-contents .cart-modal-variations { border-bottom: 1px dotted #cecece; padding-bottom: 10px; margin: 0 0 10px 0;}

.activitysidebarcal {
    padding: 0;
}
.activitymodal-availcal h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    background: url(../../img/checkout/bg-hr-sidebar.png) center bottom no-repeat;
    padding-bottom: 10px;
    text-shadow: 0px 1px 5px rgba(255, 255, 255, 0.5);
}

.buttonspace a {
    color: #fff !important;
}
.availtime select {
    width: 250px;
}
.buttonspace {
    text-align: center;
}

/* Button Styles */
.btn-group button {
    height: 30px;
    padding: 2px 10px;
}
button.close {
    font-size: 14px;
    padding: 4px;
    position: absolute;
    top: 0 !important;
    right: 1px !important;
    z-index: 5000;
    text-shadow: none !important;
}
button.close {
    opacity: 0.5; /* css standard */
    filter: alpha(opacity=50); /* internet explorer */
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
button.close:hover {
    opacity: 1; /* css standard */
    filter: alpha(opacity=100); /* internet explorer */
}
.activitymodal-body button.close{
    top: 4px !important;
    right: 5px !important;
}
a.btn {color:#fff !important;}
a.btn:hover {color:#fff !important;}
.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 10px 16px;
    margin-bottom: 0;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    text-shadow: -1px -1px 2px rgba(0,0,0,0.3) !important;
    background-color: rgb(62,184,229);
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat-x;
    filter: none;
    *background-color: rgb(62,184,229);
    filter: none;
    border: 0;
    *border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    *margin-left: .3em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.btn:hover {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.disable, .btn.disable, thumb .btn[disabled] {
    opacity: 0.6; /* css standard */
    filter: alpha(opacity=60); /* internet explorer */
    cursor: default;
    cursor: not-allowed;
}

.btn:active,
.btn.active {
    background-color: rgb(32,154,199) \9;
}
.btn:first-child {
    *margin-left: 0;
}
.btn:focus, .btn:hover {
    outline: 0;
    outline: 0;
    outline-offset: -2px;
    text-shadow: -1px -1px 5px rgba(0,0,0,0.6) !important;
}
.btn.bottom {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.no-boxshadow .btn {
    filter: none !important;
}
.btn.checkbox {
    color: #222;
    background: #cecece;
}
.btn-group button:last-of-type {
    border-left: 1px solid #eee;
}
.btn.checkbox:hover {
    background: #aaa;
}
.btn.checkbox.active {
    color: #fff;
    background: rgb(62,184,229);
}

.btn.cta {
    background: #8bc43e; /* Old browsers */
    background: -moz-linear-gradient(top, rgb(139,196,62) 0%, rgb(92,137,41) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(139,196,62)), color-stop(100%,rgb(92,137,41))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(139,196,62) 0%, rgb(92,137,41) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(139,196,62) 0%, rgb(92,137,41) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(139,196,62) 0%, rgb(92,137,41) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(139,196,62) 0%, rgb(92,137,41) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(139,196,62)', endColorstr='rgb(92,137,41)',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow:  0 1px 2px rgba(0,0,0,.2);
    box-shadow:  0 1px 2px rgba(0,0,0,.2);
}
.btn.cta:focus, .btn.cta:hover {
    outline: 0;
    outline: 0;
    outline-offset: -2px;
    background: #8bc43e; /* Old browsers */
    background: -moz-linear-gradient(top, rgb(109,166,32) 0%, rgb(62,107,11) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(109,166,32)), color-stop(100%,rgb(62,107,11))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(109,166,32) 0%, rgb(62,107,11) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(109,166,32) 0%, rgb(62,107,11) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(109,166,32) 0%, rgb(62,107,11) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(109,166,32) 0%, rgb(62,107,11) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(109,166,32)', endColorstr='rgb(62,107,11)',GradientType=0 ); /* IE6-9 */
    text-shadow: -1px -1px 5px rgba(0,0,0,0.6) !important;
}
.btn.details {
    background-color: rgb(58,149,167);
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.btn.details:hover {
    background-color: rgb(28,119,137);
}
.btn.book {
    background-color: rgb(45,67,86);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.btn.book:hover {
    background-color: rgb(15,37,56);
}
.btn.cart {
    font-weight: bold;
    color: #222 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(247,240,123);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    width: 195px;
}
.btn.cart:hover {
    color: #222 !important;
    background-color: rgb(246,233,92);
}
.btn.checkout,.btn.checkout.disable:hover, .btn.checkout.disable:focus,
.btn.checkout.disable:active, .btn.checkout.disable.active {
    font-size: 17px;
    font-weight: bold;
    padding: 20px 30px;
    margin-left: 9px;
    margin-bottom: 20px;
    margin-top: 15px;
    background-color: rgb(62,184,229);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.3), -1px -1px 1px rgba(0,0,0,0.1) !important;
    background: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(44,160,202)), color-stop(1, rgb(62,184,229)) );
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px rgba(0,0,0,.2);
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px rgba(0,0,0,.2);
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px rgba(0,0,0,.2);
    font-family: 'Open Sans';
}
.btn.checkout:hover {
    color: #fff;
    background-color: rgb(24,140,182);
    background: linear-gradient(bottom, rgb(24,140,182) 0%, rgb(42,164,209) 100%);
    background: -o-linear-gradient(bottom, rgb(24,140,182) 0%, rgb(42,164,209) 100%);
    background: -moz-linear-gradient(bottom, rgb(24,140,182) 0%, rgb(42,164,209) 100%);
    background: -webkit-linear-gradient(bottom, rgb(24,140,182) 0%, rgb(42,164,209) 100%);
    background: -ms-linear-gradient(bottom, rgb(24,140,182) 0%, rgb(42,164,209) 100%);
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(24,140,182)), color-stop(1, rgb(42,164,209)) );
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 4px 2px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 4px 2px rgba(0,0,0,.2);
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 4px 2px rgba(0,0,0,.2);
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 4px 2px rgba(0,0,0,.2);
}
.btn.checkout:focus,
.btn.checkout:active,
.btn.checkout.active{
    color: #fff;
    background-color: rgb(42,164,209);
    margin-bottom: 20px;
    margin-top: 15px;
    background: linear-gradient(bottom, rgb(42,164,209) 0%, rgb(24,140,182) 100%);
    background: -o-linear-gradient(bottom, rgb(42,164,209) 0%, rgb(24,140,182) 100%);
    background: -moz-linear-gradient(bottom, rgb(42,164,209) 0%, rgb(24,140,182) 100%);
    background: -webkit-linear-gradient(bottom, rgb(42,164,209) 0%, rgb(24,140,182) 100%);
    background: -ms-linear-gradient(bottom, rgb(42,164,209) 0%, rgb(24,140,182) 100%);
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(42,164,209)), color-stop(1, rgb(24,140,182)) );
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 0px 0px 0px #156785, 0px 2px 2px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 0px 0px 0px #156785, 0px 2px 2px rgba(0,0,0,.2);
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 0px 0px 0px #156785, 0px 2px 2px rgba(0,0,0,.2);
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 0px 0px 0px #156785, 0px 2px 2px rgba(0,0,0,.2);
}
.btn.blank {
    background-color: transparent;
    padding: 3px 6px 1px 3px;
    border: 1px solid rgb(232, 233, 233);
    display: table;
    text-shadow: none !important;
    white-space: nowrap;
}
.btn.blank a {
    color: #354C88 !important;
    font-family: 'Open Sans';
}
.btn.blank:hover {
    border-color: rgb(77, 116, 46) !important;
    text-shadow: none !important;
}
.btn.blank:hover a {
    color: #000;
    text-decoration: none;
}
.btn.blank i {
    font-size: 28px;
    margin-right: 1px;
}
.continue {
    float: right;
    margin-right: -5px;
}
.continue .btn.blank {
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
.continue .btn.blank i {
    margin-right: 1px;
    float: left;
}
.continue .btn.blank span {
    font-weight: 200;
}
.editcart {
    text-align: center;
    width: 100%;
    margin-top: 0px;
}
.editcart .btn.blank{
font-size: 14px;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
margin: 10px auto 31px;
padding: 10px;
background: rgb(255,128,128);
}
.editcart .btn.blank:hover{
    border: 1px solid white !important;
}
.editcart .btn.blank i{
     font-size: 16px;
}
.editcart .btn.blank a{
    color: #FFF !important;
}
.btn.step {
    position: relative;
    margin: 0 auto;
    width: 110px;
}
.btn.step.next {
    background-color: rgb(57,90,111);
    padding: 10px 0 10px 5px;
}
.btn.step.previous {
    background-color: rgb(115,207,244);
    padding: 10px 5px 10px 0;
}
.btn.step.next:after {
  content: '';
  position: absolute;
  top: 0;
  right: -32px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left: 12px solid rgb(57,90,111);
}
.btn.step.next:before {
  content: '';
  position: absolute;
  top: 0;
  right: -32px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left: 12px solid rgb(57,90,111);
}
.btn.step.previous:after {
  content: '';
  position: absolute;
  top: 0;
  left: -32px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right: 12px solid rgb(115,207,244);
}
.btn.step.previous:before {
  content: '';
  position: absolute;
  top: 0;
  left: -32px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right: 12px solid rgb(115,207,244);
}

.col_info {
    background: transparent;
    padding: 10px;
    margin-left: 0px;
    position: relative;
    /*max-width: 303px;*/
}

.col_info .infotool {
  color: black;
    font-size: 18px;
    display: inline-block;
}
.popovercnt {
  color: rgb(70, 70, 70);
  font-size: 12px;
  line-height: 21px;
}
.popovercnt i{
  color: #c00000;
    font-size: 40px;
    float: left;
    margin-right: 5px;
    height: 150px;
}
.col_extras {
    background: rgb(234,234,234);
    padding: 10px 10px 2px 4px;
    margin-left: 0px;
    margin-top: 15px;
}
.col_extras > div {
    margin-bottom: 10px;
}
.col_extras i {
    color: #0083c0;
    font-size: 30px;
    float: left;
}
.col_extras > div:last-of-type {
    margin-bottom: 0;
}

.col_weight, .col_height, .col_shoe, .col_lunches {
    height: 30px;
    display:block;
}
.col_lunches{
}
.col_lunches select{
    float: right !important;
    max-width: 250px !important;
}
.col_weight div, .col_height div, .col_shoe div, .col_lunches div {
    width: 35px;
    height: 33px;
    float: left;
}
.col_weight input[type=text], .col_height input[type=text], .col_shoe input[type=text] {
    width: 66px;
    margin: 0;
    border-right: none;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.col_name, .col_info, .col_birthday, .col_gender, .col_tsa, .col_extras {
    display: inline-table;
    vertical-align: top;
    max-width: 645px
    margin-right: 0px;
    min-width: 275px;
}
.col_info {
background: transparent;
padding: 10px 0px;
margin-left: 0px;
position: relative;
display: block;
}
.col_info .infotool {
    color: #c00000;
    font-size: 14px;
    display: inline-block;
}
.col_name{
  width: 100%;
}
.col_name input[type="text"] {
    width: 250px;
}
.col_name div:first-of-type {
    float: left;
}
.col_name div:nth-of-type(2) {
    float: left;
}
.col_name input.firstname {
    width: 250px;
    margin-right: 5px;
}
.col_name input.middleinit {
width: 21px;
margin-left: 12px;
margin-right: 5px;
}
.col_birthday select{
  width: 89px;
margin-right: 2px !important;
}
.birthday_day_select{
  width: 60px !important;
}
.col_birthday select:nth-of-type(2){
  margin: 0 0 10px 0;
    width: auto !important;
}
.traveler_activity_name{
  margin-bottom: 15px
}

/*  Step 1 Bottom */
.contact_info{
  clear: right;
}
.vacationinfo, .registrationinfo{
    padding: 0;
    width: 100%;
    margin: 13px 0px 0px 10px;
}

.vacationinfo{
    margin: 0px 0px 10px 10px;
}
.vacationinfo > div{
    width: auto;
    float: left;
}

.vacationinfo input, .registrationinfo input{
    margin-bottom:10px;
}
.col_dates {
    margin-top: 20px;
}
.col_hotel select {
 width: 97%;
max-width: 641px;
}
.col_arrival_date, .col_departure_date,
.col_island, .col_hotel, .col_room,
.col_notes_inner, .col_special {
    vertical-align: top;
   margin-right: 2%;
}
.col_notes{
  margin-top: 0px;
}
.col_island{
  clear: left;
}
.col_hotel_cleared{
 width: 100% !important;
}
.col_notes_inner, .col_special {
    width: 98%;
    margin-right: 0;
    vertical-align: bottom;
}
.col_notes_inner textarea, .col_special textarea {
    width: 97%;
    max-width: 600px;
    height: 120px;
}
.vacationinfo input.popover-cal {
    width: 156px;
}
.vacationinfo .checkout_step_content select {
    width: 230px;
}
.vacationinfo .input-append,
.vacationinfo .input-prepend {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 0;
  white-space: nowrap;
}

.modal{
  display: none;
}

select:focus {
    border-color: rgba(82,168,236,0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    outline: -webkit-focus-ring-color transparent;
    outline: none;
}

/*input.ng-valid-required.ng-valid {
    background: #fff url(../../img/checkout/valid-checkmark.png) right center no-repeat;
}*/
.expiration_details input.ng-valid-required.ng-valid, .cvv_details input.ng-valid-required.ng-valid {
    background: #fff;
}
input, textarea, .uneditable-input {
   width: auto;
   
}
.required input, .required select, .required textarea {
    border-left: 1px solid #3785ad !important;
}
.required input.ng-invalid.ng-dirty, .required select.ng-invalid.ng-dirty, .required textarea.ng-invalid.ng-dirty, 
input.ng-invalid-required.ng-dirty {
    border-left: 1px solid #c00000 !important;
}
.required input.ng-invalid:focus, .required select.ng-invalid:focus, .required textarea.ng-invalid:focus, input.ng-invalid-required:focus {
    border-left: 4px solid #c00000 !important;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
    outline: -webkit-focus-ring-color transparent;
    outline: none;
}
input.ng-valid-required.ng-valid, .required input.ng-valid, .required select.ng-valid, .required textarea.ng-valid {
    border-left: 4px solid #6fae36 !important;
    outline: -webkit-focus-ring-color transparent;
    outline: none;
}
.required input.ng-valid:focus, .required select.ng-valid:focus, .required textarea.ng-valid:focus {
    border-color: #6fae36 !important;
    box-shadow: 0 1px 5px #6fae36;
    outline: -webkit-focus-ring-color transparent;
    outline: none;
}
.checkout_step_content input, .checkout_step_content select, .checkout_step_content textarea {
    border-left: 1px solid #888;
}

.icon-minus-sign {
    color: #c00000;
}
/*
textarea, select, textarea,
input[type="text"], input[type="password"], input[type="datetime"], 
input[type="datetime-local"], input[type="date"], input[type="month"], 
input[type="time"], input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], input[type="search"], 
input[type="tel"], input[type="color"], .uneditable-input,
span.add-on {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}*/
input.popover-cal {
    background: #fff !important;
    cursor: default;
}

.traveler-label{
  font-size: 16px !important;
  margin-bottom: 13px !important;
}

.traveler-label span{
  color: gray;
  margin-left: 10px;
  font-size: 12px;
}

.traveler{
  padding-left: 10px;
    margin: 20px 0px;
}

.traveler .traveler-content{
  padding-left: 10px;
  padding-bottom: 20px;
}

.traveler:first{
  margin-top: 0px;
}

.traveler.unicorn {
    display: inline-block;
margin-right: 30px;
width: 100%;
}

.traveler.unicorn .traveler-content{
  padding-left: 0px;
}

.traveler.unicorn {
    display: inline-block;
margin-right: 30px;
width: 100%;
margin-top: auto;
}


.traveler.unicorn input.firstname {
    width: 250px;
}
.traveler.unicorn input.lastname {
    width: 250px;
}

.traveler h3{
  font-size: 13px;
  margin: 8px 0px;
  font-family: 'Bitter', serif;
}

/* Cart Tabs */
#checkout_container label{
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-family: 'Bitter', serif;
}
.registrationinfo h4 {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  margin: 8px 0px;
  font-family: 'Bitter', serif;
}
.checkout_step_content .itemtabs {
    margin: 20px 0 0 0;
    padding: 0;
}
#cart_items_tabs {
    margin: 0;
    padding: 0;
}
#cart_items_tabs li{
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    text-align: center;
    background: rgb(109,207,246);
    display: inline-block;
    float: left;
    list-style: none;
    padding: 10px;
    width: 200px;
    height: 40px;
    max-width: 50%;
    margin: 0;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
#cart_items_tabs li:hover .tabtitle{
    color: #222;
}
#cart_items_tabs li div {
    vertical-align: middle;
}
#cart_items_tabs li.active{
    color: #fff !important;
    height: 44px;
    background: rgb(57,90,111);
}
#cart_items_tabs li.active:hover{
    color: #fff !important;
    cursor: default;
}
#cart_items_tabs .tabtitle {
    float: left;
}
.tablabel {
  float: left;
width: 100%;
background: #EEE;
background: rgb(234,234,234);
padding: 5px 0px 0px;
margin-bottom: 15px;
}

.itemcontent .tabtitle {
text-indent: 0px;
font-size: 22px;
line-height: 22px;
text-align: left;
font-family: 'Open Sans', sans-serif;
color: #455769;
margin: 7px 7px 0px 7px;
float: left;
max-width: 517px;
padding-bottom: 11px;
}

.itemcontent .tabdescription {
font-weight: bold;
font-size: 20px;
display: block;
margin: 6px 27px;
float: right;
font-family: 'Open Sans', sans-serif;
color: #455769;
}

.carttitle{
 font-size: 24px;
line-height: 44px;
color: #2B2C3D;
font-family: Bitter;
}
.cartlabel{
background: #cbd8e7;
padding: 0px 0px 0px 25px;
width: 752px;
margin: 16px 16px -13px 0px;
text-indent: 0;
height: 49px;
}
.itemcontent .tabthumb {
    background: #aaa;
    width: 50px;
    height: 44px;
    margin-right: 10px;
    float: left;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}
.itemcontent .tabdate {
margin-right: 10px;
margin-top: 10px;
float: right;
font-size: 19px;
width: 31%;
}
.itemcontent .tabdate div.day {
    color: #222;
    font-size: 18px;
    line-height: 22px;
    background: #fff;
}
.itemcontent .tabdate div.month {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 10px;
    font-weight: 600;
    border-top: 1px solid #cecece;
    background: rgb(212,212,212);
}
.itemcontent .tabdate div.year {
    font-size: 10px;
    line-height: 10px;
    background: rgb(212,212,212);
}
.checkout_step_content .itemtabs {
    margin-bottom: 20px;
    overflow: hidden;
}
.travelerinstructions {
  width: auto;
  margin: 15px 0 10px 0;
  padding: 5px 0;
  display: block;
}
.step2 .travelerinstructions {
  font-size: 14px;
  color: #455769;
}
.travelerinstructions span{
   font-weight: bold;
margin-top: 15px;
font-size: 14px;
font-family: "Bitter", sans-serif;
}
.step2 .travelerinstructions span{
  font-size: 16px;
}
.checkout_step_content .itemcontent {
    margin-bottom: 20px;
}
.checkout_step_content h4 {
    margin-top: 20px;
}
.checkout_step_content h2 {
    font-size: 20px;
    color: black !important;
    width: auto;
    margin: 20px 0 0px 0;
    padding: 5 0px;
    font-family: 'Open Sans', sans-serif !important;
}
/* Credit Cards in cart*/
    .cards {
    overflow: hidden;
    margin: 0 18px 10px 0;
}
.cards li{
    transition: all .2s;
    background-image: url(/img/checkout/card_icons.png);
    background-position: 0 0;
    display: inline-block;
    border:1px solid #eee;
    height: 32px;
    margin-right: 2px;
    text-indent: -9999px;
    width: 52px;
    padding: 0px !important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.cards li:last-child {margin-right:0;}
.cards .visa.on {background-position:0 0;border:1px solid #ccc;}
.cards .mastercard.on {background-position:-52px 0;border:1px solid #ccc;}
.cards .discover.on {background-position:-105px 0;border:1px solid #ccc;}
.cards .amex.on {background-position:-160px 0;border:1px solid #ccc;}
.cards .visa {background-position:0 32px;}
.cards .mastercard {background-position:-52px 32px;}
.cards .discover {background-position:-105px 32px;}
.cards .amex {background-position:-160px 32px;}


/* Cart Modal */
#cart_container {
    width: 100%;
}
.modal-cart-header {
    height: 56px;
    vertical-align: bottom;
    text-align: right;
    position: relative;
}
.modal-cart-body{
    padding: 10px 0 0 0 !important;
    height: 364px;
    max-height: 364px !important;
    overflow-y: auto;
    overflow-x: hidden;
}
.cart_items_table {
   margin-right: 18px;
width: 100%;
float: left;
}
.cart_items_table .span9 {
    width: 865px;
    max-width: 865px;
}
.cart_items_tableth .span3 {
    width: 285px;.
}
.cart_item_tableth {
    width: 840px;
    min-height: 146px;
    background: #fff;
    margin: 10px 0 0 0;
}
.thankitems .cart_item_tableth {
  background: none !important;
  min-height: initial !important;
  font-size: 13px;
  width: auto;
}
.cart_item_tableth h3 {
    margin: 0;
}
.cart_item_tableth strong {
    font-size: 12px;
  font-weight: 600;
  font-family: 'Bitter', serif;
}
.cart_item_tableth .variationsthank {
    display: inline-table;
    float: left;
}
.thankitems {
  padding-bottom: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(232,233,233);
    padding-bottom: 20px;
    margin-top: 15px;
}

.thankwelcome {
  font-size: 13px;
}

.thankwelcome h4{
  font-size: 19px;
  font-weight: bold;
  margin: 35px 0px 10px 0px;
  font-family: 'Open Sans', sans-serif !important;
}

.thankwelcome a{
font-family: 'Open Sans', sans-serif !important;
font-size: 21px;
font-weight: 900;
margin: 10px;
color: #293764;
padding: 0px;
}

.thankmahalo{
  font-size: 20px;
  font-weight: normal;
  margin-top: 40px !important
}

.thankmahalo span{
  font-size: 27px;
  font-weight: bold;
}

.thankitems h3{
  font-family: 'Open Sans', sans-serif !important;
  font-size: 20px  !important;
  color: #293764 !important;
  font-weight:600 !important
  margin-bottom: 0px
}

.thankprocessing{
  margin: 0px 0px 35px 0px
}
.cart_item_table {
    width: 746px;
    min-height: 146px;
    background: #fff;
    margin: 10px 0px 0 0;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}
.no-boxshadow .cart_item_table {
    border: 1px solid #cecece;
}
.cart_item_table .activity_thumb div {
    display: block;
    width: 141px;
    height: 126px;
    background: #aaa;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}
.cart_item_table .activity_thumb div img{
    height: 100%;
}
.tabthumb img{
    height: 100%;
}
.no-boxshadow .activity_thumb {
    border: 1px solid #cecece;
}
.cart_item_table .activity_info_content {

}
.cart_item_table .quantity_info {
    text-align:center;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(91, 137, 53);
    background: rgb(235, 235, 235);
    border: 1px solid rgb(194,205,181);
    padding: 3px;
}
.cart_item_table .quantity_name {
text-align: center;
display: block;
text-transform: uppercase;
font-size: 12px;
margin-top: 2px;
font-weight: bold;

}
.activity_actions {
    text-align: center;
    width: 50px;
}
.cart_items_table .activity_actions a {
    color: white;
font-size: 11px;
text-transform: lowercase;
border: 0px;
font-weight: bold;
font-family: sans-serif;
background: #FF4C4C;
padding: 3px 6px;
border-radius: 46px;
}
.cart_items_table .activity_actions a:hover {
    color: rgb(128, 0, 0);
}
.activity_info {
    width: 100%;
}

.cart_items_header {
    width: 224px;
    background: #cbd8e7;
    line-height: 15px;
    z-index: 2;
    text-align: left;
    font-size: 11px;
    color: black;
}
.cart_items_header.crt {
    position: absolute;
    top: 0;
    right: 0px;
}
.cart_items_header .carttitle{
font-family: Bitter,serif;
font-weight: 900;
display: block;
font-size: 24px;
color: #464646;
margin: 0 0 5px;
line-height: 20px;
text-align: center;
width: 100%;
padding: 10px 0px 0px !important;
}

.cart_items_header .security_notice{
text-align: left;
width: 549px;
margin: 0 auto;
padding: 0 0 15px;
}
.cart_items_header .security_notice i {
    font-size: 21px;
    margin: 10px 10px 0 0;
    float: left;
}
.cart_items_table .activity_subtotal .price{
   font-family: 'Bitter', sans-serif;
  font-size: 14px;
  display: inline-block;
  margin-left: 10px;
  font-weight: 900;
}
.cart_items_table .activity_info h2{
font-size: 16px;
color: #455769;
font-weight: 600;
margin-top: 5px;
line-height: 16px;
margin-bottom: 2px;
font-family: 'Open Sans', sans-serif;
}
.cart_items_table .activity_info h2 a{
    color: rgb(91, 137, 53);
}
.cart_items_table .activity_info h3{
    color: #666 !important;
    font-size: 16px !important;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 !important;
    margin: 0 0 10px 0 !important;
    text-shadow: none !important;
    background: none !important;
    filter: none !important;
}
.cart_items_table .activity_info h3 a{
    color: rgb(146, 146, 146);
}
.cart_items_table .pricing_info{
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    width: 81px;
}
.cart_items_table .activity_subtotal_container {
    vertical-align: bottom;
    border-bottom: 1px dotted gray;
    width: 525px;
}
.cart_items_table .activity_subtotal {
    font-size: 13px;
    margin: 10px 20px;
    font-family: 'Bitter', sans-serif;
    color: rgb(161, 161, 161);
}
.cart_items_table .activity_subtotal span {
    float: right;
    margin-bottom: 10px !important;
}
.cart_total .activity_total_price,
.cart_total .activity_subtotal,
.cart_totalcart .activity_total_price,
.cart_totalcart .activity_subtotal {
    font-size: 14px;
    vertical-align: top;
    margin-right: 0;
}
.cart_total .activity_total_price span,
.cart_total .activity_subtotal span,
.cart_totalcart .activity_total_price span,
.cart_totalcart .activity_subtotal span {
    float: right;
}
.cart_total .activity_total,
.cart_totalcart .activity_total {
    font-size: 14px;
    font-family: serif;
    text-align: left !important;
    margin-right: 20px;
    text-align: left;
    margin: 30px 0;
}
.cart_total .pricing_info .price,
.cart_totalcart .pricing_info .price {
    font-size: 22px;
    display: block;
    font-weight: bold;
}
.cart_items_table .quantity {
    width: auto;
    font-size: 21px;
    font-weight: bold;
    display: block;
    color: black;
    border: 0px;
    background: rgb(235, 235, 235);
    margin: 0 auto;
}
.cart_items_table .quantity option{
    font-size: 20px;
    border: 0px;
}
.cart_items_table .price{
    color: #455769;
}
.cart_items_table .currency{
    font-size: 20px;
    margin-left: 10px;
}
.taxprice sup, .totalprice sup,
.cart_items_table .price sup{
    position: relative;
}
.cart_items_table .cart_taxes{
    padding-top: 20px;
}
.cart_items_table .cart_taxes span{
    float: right;
}
.cart_items_table .cart_taxes .price{
    margin-left: 10px;
    font-size: 28px;
}

.loadingcart {
    width: 80%;
    text-align: center;
    padding: 80px 0;
}
.highlight i {
    color: #9bcc5c;
}
/* Cart Footer */
.cart-footer {
    width: 100%;
}
.cart-footer .span3 {
    width: 224px !important;
    float: right;
}
.cart-footer .span9 {
    width: 726px !important;
}
.cart-footer .continue {
 font-size: 13px;
line-height: 13px;
font-weight: 600;
text-transform: uppercase;
margin-top: 17px;
float: left;
}
.cart-footer .continuelink {
    padding: 3px 6px 1px 3px;
    border: 1px solid rgb(232, 233, 233);
    display: table;
    white-space: nowrap;
}
.cart-footer .continuelink a {
    color: rgb(77, 116, 46);
}
.cart-footer .continuelink:hover {
    border-color: rgb(77, 116, 46);
}
.cart-footer .continuelink:hover a {
    color: #000;
    text-decoration: none;
}
.cart-footer .continuelink i {
    font-size: 28px;
    float: left;
    margin-right: 1px;
}
.cart-footer .cartphone {
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}
.cart-footer .cartphone a{
    font-size: 32px;
    vertical-align: baseline;
}
.cart-footer .promise_col.span3 {
    font-size: 12px;
    line-height: 15px;
    width: 20% !important;
    margin: 0 !important;
}
.cart-footer .promise_col i {
    font-weight: normal;
}

.cart_total {
    background: #cbd8e7;
}
.cart_totalcart {
    background: rgb(232, 233, 233);
}
#checkout_container {
width: 100%;
min-height: 840px;
position: relative;
background: #FFF;
padding: 0px -1px;
float: left;
margin: -2px -1px -1px -1px;
}
.checkout-footer {
    text-align: left;
    position: absolute;
    right: 1px;
    top: 0;
    bottom: 0;
}
#checkout_container .cart_total {
}
.checkout-footer .span3 {
    width: 270px !important;
}

.checkout-footer .span9 {
    width: 872px !important;
}
/**************************************************************************************/
.checkout-sidebar {
    text-align: left;
    float: right;
  margin-top: 0px;
  font-family: 'Bitter', serif;;
}
.checkout-sidebar .span3 {
    width: 267px !important;
}
.cart_total .taxprice {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: rgb(81,131,144);
    font-size: 28px;
    font-weight: 600;
    margin-left: 10px;
}
.cart_total .totalprice {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: rgb(81,131,144);
    font-size: 36px;
    font-weight: 600;
    margin-left: 10px;
    padding: 4px 0;
}
.modal-cart-footer .cart_total.span3 {
    margin: 0 !important;
    text-align: right;
}
.promise_col h4{
  color: black;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 2px 0;
}
.cart_items_table .promise_col{
    width: 30%;
    float: left;
    font-size: 12px;
    margin-right: 13px;
    margin-left: 15px;
}
.cart_items_table .promise_col h4{
    font-size: 12px;
    margin-bottom: 6px;
}
.cart_items_table .promise_col p{
    font-size: 12px;
    margin-bottom: 6px;
    padding-right: 10px;
    margin-top: 0px;
    color: rgb(69, 69, 69);;
}
.cart_items_table .promise_col:first p{
    padding-right: 0px;
}
.coupon_container span {
    font-size: 11px;
    color: rgb(77, 116, 46);
    text-transform: uppercase;
}
.coupon_container input.couponfield {
    height: 20px;
    border-color: rgb(77, 116, 46);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
}
.coupon_container .btn {
    font-size: 12px;
    line-height: 12px;
    background-color: rgb(77, 116, 46);
    height: 10px;
    border-radius: 0;
    margin-right: 0;
}
.coupon_container .btn:hover {
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    background-color:#2E4A75;
    height: 10px;
    border-radius: 0;
    margin-right: 0;
}
.invalid_coupon_code {
    font-size: 11px;
    color: #c00000 !important;
    text-transform: uppercase;
    margin-right: 5px;
}
.cartcoupon {
    margin-top: 20px;
}
.cartcoupon > div {
    float: right;
}
.cartcoupon input.couponfield {
width: 146px;
height: 20px;
border-color: #2E4A75;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
margin: 0;
text-indent: 5px;
font-size: 10px;
}
.cartcoupon .btn {
font-size: 12px;
line-height: 5px;
background-color: #2E4A75;
height: 6px;
border-radius: 0;
margin-right: 0;
font-family: 'Open Sans';
}
.cartcoupon .btn:hover {
    color: #fff;
    background-color: #5C7192;
}
.checkoutbuttoncnt {
    text-align: center;
}
/* Empty Cart */
.cart_empty{
    padding-left: 20px;
    height: 250px;
    margin-top: 10px;
}
.emptychoice {
    background: #fff;
    width: 820px;
    padding: 20px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    position: relative;
}
.emptychoice .thumb {
    margin: 0 20px 0 0;
    float: left;
    background: #aaa;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}
.emptychoice .thumb img{
    width: 260px;
    height: 180px; 
}
.emptychoice .buttonarea {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#wpsc_checkout_process{overflow:hidden} 
#wpsc_checkout_process form {margin: 0;}
#wpsc_checkout_total{
    display: block;
    position: relative;
}
#wpsc_checkout_total{
    display: block;
    position: relative;
  text-transform: uppercase;
}
.modal-checkout-footer {
    height: 20px;
    position: relative;
}
.modal-checkout-footer .span3 > div {
    padding: 20px;
}
.modal-checkout-footer .cart_total {
    background: rgb(232, 233, 233);
    width: 307px !important;
    position: absolute;
    bottom: 0;
    right: 0;
}
.cartbdayinner{
  float:left;
}



/* padding styles */
.pad0 {padding:0;}
.pad5 {padding:5px;}
.pad10 {padding:10px;}
.thankitems .pad10{
  padding:2px 20px;
}
.pad15 {padding:15px;}
.pad20 {padding:20px;}
.pad25 {padding:25px;}
.pad30 {padding:30px;}
.pad40 {padding:40px;}
.pad50 {padding:50px;}
.padleft0 {padding-left:0;}
.padright0 {padding-right:0;}
.padleft5 {padding-left:5px;}
.padright5 {padding-right:5px;}
.padleft10 {padding-left:10px;}
.padright10 {padding-right:10px;}
.padleft20 {padding-left:20px;}
.padright20 {padding-right:20px;}
.padtop0 {padding-top:0;}
.padbot0 {padding-top:0;}
.padtop5 {padding-top:5px;}
.padbot5 {padding-bottom:5px;}
.padtop10 {padding-top:10px;}
.padbot10 {padding-bottom:10px;}
.padtop20 {padding-top:20px;}
.padbot20 {padding-bottom:20px;}
.padtop30 {padding-top:30px;}
.padbot30 {padding-bottom:30px;}
.padtop40 {padding-top:40px;}
.padbot40 {padding-bottom:40px;}
.padtop50 {padding-top:50px;}
.padbot50 {padding-bottom:50px;}
.mar0 {margin:0;}
.mar5 {margin:5px;}
.mar10 {margin:1px;}
.mar15 {margin:15px;}
.mar20 {margin:20px;}
.mar25 {margin:25px;}
.mar30 {margin:30px;}
.mar40 {margin:40px;}
.mar50 {margin:50px;}
.marleft0 {margin-left:0;}
.marright0 {margin-right:0;}
.marleft5 {margin-left:5px;}
.marright5 {margin-right:5px;}
.marleft10 {margin-left:10px;}
.marright10 {margin-right:10px;}
.marleft20 {margin-left:20px;}
.marright20 {margin-right:20px;}
.martop0 {margin-top:0;}
.marbot0 {margin-top:0;}
.martop5 {margin-top:5px;}
.marbot5 {margin-bottom:5px;}
.martop10 {margin-top:10px;}
.marbot10 {margin-bottom:10px;}
.martop20 {margin-top:20px;}
.marbot20 {margin-bottom:20px;}
.marcenter {margin-left:auto; margin-right:auto;}




.steps_table{
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 0 !important;
}
.steps_table td{
    background: #cbd8e7;
    height: 56px;
    vertical-align: middle;
    text-align: left;
    width: 33%;
    padding: 5px 0px 0 0;
    margin: 0;
    border-right: 1px solid rgb(176, 200, 209);
}
.steps_table td.active{
  background: #8FADCF;
    height: 54px;
    vertical-align: middle;
    text-align: left;
    color: #222;
}

.step_number{
    margin-left: 10px;
    font-size: 43px;
    font-weight: bold;
    position: relative;
  font-family: 'Bitter', serif;
  
    color: rgb(161, 161, 161);
}

.steps_table td.active .step_number{
  color: black;
}

.step_line1{
    font-size: 18px;
    position: relative;
    top: 3px;
    left: -1px;
    font-family: 'Bitter', serif;
}
.step_line2{
    font-size: 11px;
    color: black;
    display: block;
    margin-top:3px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.steps_table td.active .step_line2{
    color: white;
}

.step_content{
    width: 100%;
    float: left;
}

.step_content input, .step_content select{
  font-family: 'Bitter', serif;
  font-size: 16px;
  padding: 3px;
    max-width: 410px;
    width: auto;
    min-height: 20px;
}


#wizard{
  width: 100%;
}

.wp-page-20519 .wrapper, .wp-page-20519 #headerbar{
  max-width: 1100px !important;
}

/* Step 3 */
.checkoutnotes {
    list-style-type: none;
    margin: 0;
}
.carddetails {
    width: 100%;
    clear: both;
}
.card_info {
    display: inline-table;
}
.expiration_details {
    text-align: center;
}
.card_icons {
    vertical-align: bottom;
}
.cvv_details {
    text-align: center;
    margin-left: 31px;
}

.cvv_details input{
    width: 52px;
}

.contact_info.email {
width: 313px;
float: left;
display: block;
margin: 20px 0px 0px 0px;
}

.contact_info input.phonefield{
    width: 165px;
}
.contact_info.email input {
    width: 285px;
    
}
.contact_info.addemail {
    color: rgb(91, 137, 53);
    cursor: pointer;
}
.contact_info.addemail:hover {
    color: #222;
    cursor: pointer;
}
.col_contact{width:100%}
.col_contact .firstname input,
.col_contact .lastname input{
    width: 257px;
}

.col_contact .firstname input{
  margin-right: 14px;
}


.col_contact .street input {
    width: 100%;
    max-width: 552px;
}
.col_contact .city input {
    width: 272px;
}

.col_contact .zip input{
    width: 80px;
}

.col_contact .zip input,.col_contact .state input{
 width: 98px;
    margin-right: 10px;
}
.col_contact .state,  .col_contact .zip, .col_contact .city, .col_contact .firstname, .col_contact .lastname{
    display: inline-table;
}
.col_contact .state input{
  width: 122px;
}
.col_contact .country {
  display: block;
  width: 100%;
}
.col_contact .country select {
max-width: 561px;
width: 100%;
}

.checkout_total_body{
  color: black;
  font-weight: bold;
  margin-top: 10px;
  padding: 0px 20px;
  font-family: 'Bitter', serif;
}

.checkout_total_body table{
  font-size: 12px;
}

.checkout_total_body tr td:last-child{
  text-align: right;
}

.checkout_total_body table{
  width: 100%;
}


.checkout_total_body td{
  padding: 8px 0px;
  color: rgb(161, 161, 161);
}

.checkout_total_body td:last-child;{
  font-size: 18px;
  font-weight: bold;
}







/* Radio Buttons */

/* Genders */
.col_gender {
    margin-left: 6px;
}
.col_gender input[type=radio] {
    display: none;
}
.col_gender label.male, .col_gender label.female {
    font-size: 40px !important;
    width: 32px;
    height: 44px;
    display: block;
    float: left;
    margin: 3px 0;
    color: #888;
    cursor: pointer;
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
}
.col_gender label.female {
}


.col_gender label.male {
}
.col_gender label.female.checked,
.col_gender label.male.checked,
.col_gender label.female.checked:hover,
.col_gender label.male.checked:hover {
    color: #6fae36;
}
.col_gender label.male:hover,
.col_gender label.female:hover {
    text-shadow: 0 0 2px #fff;
    color: #222;
}


/* popover styles */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.popover-content {
  padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow {
  border-width: 11px;
}

.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
  content: " ";
}

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
  content: " ";
}

.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
  content: " ";
}

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
  content: " ";
}
/*****************
* PopOver Styles *
*****************/
.popover {
    width: 400px;
    max-width: 400px;
}
.popover h3.popover-title {
    text-align: center;
    background: transparent !important;
    border-bottom: none !important;
    margin: 0 5px !important;
    color: #222 !important;
    padding: 0 !important;
}
.popover .attraction_duration {
    border-bottom: 1px solid #cecece;
    margin: 10px 0;
    padding-bottom: 10px;
}
.popover img {
    width: 100%;
    height: 200px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}
.popover .popbutton {
    text-align: right;
    padding: 10px 0 5px 0;
}

/* popover calendar */
.toolcal.popover,
.toolcal.popover  {
    width: 274px
}
.toolcal .popover-content,
.toolcal .popover-content  {
    padding: 10px;
}
.toolcal .cal-wrapper,
.toolcal .bcal-container,
.toolcal .bcal-table {
    margin: 0;
    padding: 0;
}
.toolcal .bcal-container {width:270px}

.checkout_total_table {
  background: white;
}

.checkout_total_table table{
    font-size: 14px;
  color: rgb(161, 161, 161);
  border-left: 1px solid #D3D8E7;
  width: 100%;
}

.checkout_total_table table tr td:first-child, .checkout_total_table table tr th:first-child{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.checkout_total_table table tr td:last-child, .checkout_total_table table tr th:last-child{
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-shopping-cart{
  font-size: 18px;
}

.shopping-cart-wrapper{
display: inline-block;
font-size: 13px;
position: absolute;
right: 28px;
top: -32px;
z-index: 9999;
}

.shopping-cart-wrapper, .shopping-cart-wrapper a
{
  color: #666 !important;
}

#booking-help-module{
padding: 15px 0px;
background: white;
}

#booking-help-module a, #booking-help-module a:hover{
  color: #455769;
font-size: 23px;

}

#booking-help-module .pad30{
  border: 1px solid #455769;
}

#booking-help-module .pad30 h3{
letter-spacing: 0px;
font-size: 16px;
font-weight: bold;
margin: 0px 0px 10px 0px;
color: rgb(70, 70, 70);
font-family: 'Bitter', serif;
}

#booking-help-module #booking-desc{
  margin-bottom: 10px;
  font-size: 12px;
}

#booking-help-module i{
  display: inline-block;
  margin-right: 10px;
}
#booking-help-module #booking-help-number{
 color: #455769;
  font-size: 24px
}

#booking-help-module .pad30{
  padding: 20px 25px;
}
.cartstepbuttons{
  float: left;
  margin-top: 16px;
}
.book-with-confidence{
  float: left;
  font-size: 12px;
  margin-left: 55px;
  margin-top: 16px;
}
.book-with-confidence h3{
  font-size: 14px;
  margin-top:0px;
  margin-bottom: 5px;
}
.ppstatement{
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 11px;
}
.carddetails h4{
  margin-top: 40px;
  margin-bottom: 10px;
}
.ccnumber{
  margin-bottom:10px;
}
.tour_total_name{
  text-transform: none;
  display:block;
  text-align: left;
  color: #455769;
}

.ctt_vartotal{
  text-align:right;
  color: #455769;
}

.total-line{
  padding-bottom: 10px;
  border-bottom:1px dotted black
}

.activity_subtotal p{
font-weight:900;
float: left;
}

.checkout-emailadd{
cursor: pointer;
margin: 0px 3px 10px 3px;
font-size: 14px;
}

#checkout_container .cart_items_header {
width: 100% !important;
}





.modal-cart-header > div{
    float: left;
    width: 100%
}
/************* MAX-WIDTH  783px 790px **************/

@media only screen and (max-width : 3000px) {



.travelerinstructions {
margin: 0px 0 10px 0;
}

.cart_item_table {
width: 100%;
}

.cart_items_table .activity_subtotal_container {
display: none;
}

.cartlabel {
height: 0;
visibility:hidden;
}

.cart_items_header.crt {
float: left;
width: 100%;
text-align: center;
position: relative;
}

.cart-footer .span3 {
width: 100% !important;
float: left;
margin: 0;
padding: 0;
}
.cart_items_header .security_notice {
font-size: 12px;
font-weight: 200;
max-width: 100%;
}

.cart_items_header .security_notice i {
float:none; 
}
.cart-footer .span9 {
width: 100% !important;
margin: 0;
}



/*********************************************/
/****THESE ARE JOAQUIN'S EDITS 1/7-10/2014****/
.checkout-sidebar {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    float:none;
    font-family: 'Bitter', serif;
}
.checkout-sidebar .span3 {
    width: 100% !important;
    margin-left: 0;
    margin-bottom: 10px;   
    
}
#wpsc_checkout_process {overflow: visible;}



.col_name input.firstname {
    width: 288px;
}
.traveler.unicorn input.firstname {
    width: 288px; 
}
.traveler.unicorn input.lastname {
    width: 288px; 
}
.contact_info input.phonefield{
    width: 203px;
}
.book-with-confidence{
    float: left;
    font-size: 12px;
    margin-left: 55px;
    margin-top: 16px;
}



.col_contact .firstname input,
.col_contact .lastname input{
    width: 333px;
}
.col_contact .country select {
max-width: 718px;
}

.travelerinstructions {
    margin: 0 0 10px 0;
}
.checkout_total_table table{
    width:716px;
}

.vacationinfo input.popover-cal {
    width: 165px;
}
.vacationinfo > div{
    width: 215px;
}
.contact_info input.phonefield{
    width: 202px;
}

.contact_info.email {
    margin-right: 10px; 
    width: 348px;
  display: inline-block;
    float: none;  
}
.contact_info.email input {
    width: 300px;
  margin-right: 10px;
    float: none;
}

/*********************************************/
/*.checkout_total_body_mobile{
    color: black;
    font-weight: bold;
    margin-top: 10px;
    padding: 0px 20px;
    font-family: 'Bitter', serif;
}

.checkout_total_body_mobile table{
    font-size: 14px;
}

.checkout_total_body_mobile tr td:last-child{
    text-align: right;
}

.checkout_total_body_mobile table{
    width: 100%;
}

.checkout_total_body_mobile td{
    padding: 12px 0px;
    color: rgb(161, 161, 161);
}

.checkout_total_body_mobile td:last-child;{
    font-size: 18px;
    font-weight: bold;
}
***************************************/

} /* <======== end media query */


.sidebar-cart-total{
  font-weight: bold;
  font-size: 15px;
  color: rgb(70, 70, 70) !important;
}


.travelerinstructions i {
    margin: 0px 6px;
}


.step-failure{
background: rgb(255, 128, 128);
max-width: 325px;
padding: 6px;
margin-top:30px;
max-width: 550px;
}

.step-failure p {
color: white;
text-align: left;
font-size: 14px;
line-height: 1.2em;
margin: 7px;
}

.step-failure span{
margin-left: 10px;
}

.next-failure{
  margin-left: 10px;
}

.submit-failure{
}

.visitshop span{
  position: relative;
  top: -2px;
}

.vacation-information-header{
  font-size: 18px !important;
  margin-top: 30px !important;
  margin-bottom: 27px !important;
}

.col_gender label{
    margin: 0px 8px !important;
}
.col_gender label p{
    font-size: 12px;
    text-align: center;
}

.step1 > div{
    float: left;
    width: 100%;
}

#click {
  display: none;
}

#imageContainer{
  overflow: hidden;
max-height: 362px;
}

.checkout_container_bg{
border-left: 1px solid grey;
border-right: 1px solid grey;
background: url('checkout_bg.jpg') repeat-x;

}

.checkout_step_content{
  padding: 0px 10px;
}


.tourtimes input{
  width: auto !important;
}

.cartViewWrap{
position: relative;
width: 764px;
margin: 0;
}

.promise_col{
float: left;
width: 220px;
margin: 0px 6px;
font-family: 'Open Sans';
}

.span9{
  float: left;
width: 760px !important;
}

.row-fluid{
  float: left;
width: 100%;
}
}



.remove_link{
  font-size:20px;
}

.ppstatement a {
  color: blue;
font-size: 12px;
text-decoration: underline !important;
}

.col_contact > div{
  margin-bottom: 10px;
}

@charset "UTF-8";
 
@font-face {
  font-family: "dht-icons";
  src:url("/fonts/checkout/dht-icons.eot");
  src:url("/fonts/checkout/dht-icons.eot?#iefix") format("embedded-opentype"),
    url("/fonts/checkout/dht-icons.ttf") format("truetype"),
    url("/fonts/checkout/dht-icons.svg#dht-icons") format("svg"),
    url("/fonts/checkout/dht-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "dht-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
[class^="icn-"]:before,
[class*=" icn-"]:before {
  font-family: "dht-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
 
.icn-dht-icon-camera:before {
   content: "\e000"; 
} 
 
.icn-dht-icon-clock:before {
   content: "\e001"; 
} 
 
.icn-dht-icon-direction:before {
   content: "\e002"; 
} 
 
.icn-dht-icon-chat:before {
   content: "\e003"; 
} 
 
.icn-dht-icon-credit-card:before {
   content: "\e004"; 
} 
 
.icn-dht-icon-user:before {
   content: "\e005"; 
} 
 
.icn-dht-icon-ticket:before {
   content: "\e006"; 
} 
 
.icn-dht-icon-credit-card2:before {
   content: "\e007"; 
} 
 
.icn-dht-icon-airplane-vintage:before {
   content: "\e008"; 
} 
 
.icn-dht-icon-family:before {
   content: "\e009"; 
} 
 
.icn-dht-icon-kids:before {
   content: "\e00a"; 
} 
 
.icn-dht-icon-paddling:before {
   content: "\e00b"; 
} 
 
.icn-dht-icon-surfer2:before {
   content: "\e00c"; 
} 
 
.icn-dht-icon-swimming:before {
   content: "\e00d"; 
} 
 
.icn-dht-icon-palmtree:before {
   content: "\e00e"; 
} 
 
.icn-dht-icon-leaf:before {
   content: "\e00f"; 
} 
 
.icn-dht-icon-female:before {
   content: "\e010"; 
} 
 
.icn-dht-icon-airwings:before {
   content: "\e011"; 
} 
 
.icn-dht-icon-arizona:before {
   content: "\e012"; 
} 
 
.icn-dht-icon-fins:before {
   content: "\e013"; 
} 
 
.icn-dht-icon-lei:before {
   content: "\e014"; 
} 
 
.icn-dht-icon-picnic:before {
   content: "\e015"; 
} 
 
.icn-dht-icon-tiki:before {
   content: "\e016"; 
} 
 
.icn-dht-icon-tiki2:before {
   content: "\e017"; 
} 
 
.icn-dht-icon-picnic2:before {
   content: "\e018"; 
} 
 
.icn-dht-icon-lifejacket:before {
   content: "\e019"; 
} 
 
.icn-dht-icon-fishy:before {
   content: "\e01a"; 
} 
 
.icn-dht-icon-beachhouse:before {
   content: "\e01b"; 
} 
 
.icn-dht-icon-bigisland:before {
   content: "\e01c"; 
} 
 
.icn-dht-icon-flower:before {
   content: "\e01d"; 
} 
 
.icn-dht-icon-male:before {
   content: "\e01e"; 
} 
 
.icn-dht-icon-scale:before {
   content: "\e01f"; 
} 
 
.icn-dht-icon-time:before {
   content: "\e020"; 
} 
 
.icn-dht-icon-turtle:before {
   content: "\e021"; 
} 
 
.icn-dht-icon-shaka:before {
   content: "\e022"; 
} 
 
.icn-dht-icon-map:before {
   content: "\e023"; 
} 
 
.icn-dht-icon-golf:before {
   content: "\e024"; 
} 
 
.icn-dht-icon-binoculars:before {
   content: "\e025"; 
} 
 
.icn-dht-icon-bus:before {
   content: "\e026"; 
} 
 
.icn-dht-icon-guitar:before {
   content: "\e027"; 
} 
 
.icn-dht-icon-maui:before {
   content: "\e028"; 
} 
 
.icn-dht-icon-shoeprint:before {
   content: "\e029"; 
} 
 
.icn-dht-icon-turtle2:before {
   content: "\e02a"; 
} 
 
.icn-dht-icon-volcano:before {
   content: "\e02b"; 
} 
 
.icn-dht-icon-shopping:before {
   content: "\e02c"; 
} 
 
.icn-dht-icon-meal:before {
   content: "\e02d"; 
} 
 
.icn-dht-icon-helicopter:before {
   content: "\e02e"; 
} 
 
.icn-dht-icon-bus2:before {
   content: "\e02f"; 
} 
 
.icn-dht-icon-canoeing:before {
   content: "\e030"; 
} 
 
.icn-dht-icon-hiker:before {
   content: "\e031"; 
} 
 
.icn-dht-icon-missouri:before {
   content: "\e032"; 
} 
 
.icn-dht-icon-snorkel:before {
   content: "\e033"; 
} 
 
.icn-dht-icon-waterfall:before {
   content: "\e034"; 
} 
 
.icn-dht-icon-windsurfing:before {
   content: "\e035"; 
} 
 
.icn-dht-icon-standup-paddleboard:before {
   content: "\e036"; 
} 
 
.icn-dht-icon-movie:before {
   content: "\e037"; 
} 
 
.icn-dht-icon-hotel:before {
   content: "\e038"; 
} 
 
.icn-dht-icon-city:before {
   content: "\e039"; 
} 
 
.icn-dht-icon-compass:before {
   content: "\e03a"; 
} 
 
.icn-dht-icon-kam:before {
   content: "\e03b"; 
} 
 
.icn-dht-icon-north:before {
   content: "\e03c"; 
} 
 
.icn-dht-icon-submarine:before {
   content: "\e03d"; 
} 
 
.icn-dht-icon-surfboard:before {
   content: "\e03e"; 
} 
 
.icn-dht-icon-surfer:before {
   content: "\e03f"; 
} 
 
.icn-dht-icon-ocean:before {
   content: "\e040"; 
} 
 
.icn-dht-icon-oahu:before {
   content: "\e041"; 
} 
 
.icn-dht-icon-kauai:before {
   content: "\e042"; 
} 
 
.icn-dht-icon-kayaking:before {
   content: "\e043"; 
} 
 
.icn-dht-icon-dinosaur:before {
   content: "\e044"; 
} 
 
.icn-dht-icon-curvyroad:before {
   content: "\e045"; 
} 
 
.icn-dht-icon-plus:before {
   content: "\e046"; 
} 
 
.icn-dht-icon-chat2:before {
   content: "\e047"; 
} 
 
.icn-dht-icon-heart:before {
   content: "\e048"; 
} 
 
.icn-dht-icon-chevron-right-sign:before {
   content: "\e049"; 
} 
 
.icn-dht-icon-arrow-right-sign:before {
   content: "\e04a"; 
} 
 
.icn-dht-icon-question-sign:before {
   content: "\e04b"; 
} 
 
.icn-dht-icon-remove:before {
   content: "\e04c"; 
} 
 
.icn-dht-icon-arrow-left-sign:before {
   content: "\e04d"; 
} 
 
.icn-dht-icon-info-sign:before {
   content: "\e04e"; 
} 
 
.icn-dht-icon-clock2:before {
   content: "\e04f"; 
} 
 
.icn-dht-icon-spinner:before {
   content: "\e050"; 
} 
 
.icn-dht-icon-chevron-left-sign:before {
   content: "\e051"; 
} 
 
.icn-dht-icon-calendar:before {
   content: "\e052"; 
} 
 
.icn-dht-icon-email:before {
   content: "\e053"; 
} 
 
.icn-dht-icon-star:before {
   content: "\e054"; 
} 
 
.icn-dht-icon-search:before {
   content: "\e055"; 
} 
 
.icn-dht-icon-trash:before {
   content: "\e056"; 
} 
 
.icn-dht-icon-warning:before {
   content: "\e057"; 
} 
 
.icn-dht-icon-cart:before {
   content: "\e058"; 
} 
 
.icn-dht-icon-waves:before {
   content: "\e059"; 
} 
 
.icn-dht-icon-height:before {
   content: "\e05a"; 
} 
 
.icn-dht-icon-plane:before {
   content: "\e05b"; 
} 
 
.icn-dht-icon-check:before {
   content: "\e05c"; 
}

@font-face {
  font-family: 'Elusive-Icons';
  src: url('/fonts/checkout/Elusive-Icons.eot');
  src: url('/fonts/checkout/Elusive-Icons.eot?#iefix') format('embedded-opentype'), url('/fonts/checkout/Elusive-Icons.svg#Elusive-Icons') format('svg'), url('/fonts/checkout/Elusive-Icons.woff') format('woff'), url('/fonts/checkout/Elusive-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'Elusive-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'Elusive-Icons';
  font-weight: normal;
  font-style: normal;
  speak: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
.icon-large:before {
  vertical-align: middle;
  font-size: 1.33em;
}
.btn [class^="icon-"],
.btn [class*=" icon-"],
.nav-tabs [class^="icon-"],
.nav-tabs [class*=" icon-"] {
  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large:before,
li .icon-large:before {
  width: 1.875em;
}
ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .8em;
}
ul.icons li .icon-large:before,
ul.icons li .icon-large:before {
  vertical-align: initial;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 0;
}
.icon-move:before {
  content: "\e074";
}
.icon-music:before {
  content: "\e073";
}
.icon-network:before {
  content: "\e072";
}
.icon-off:before {
  content: "\e071";
}
.icon-ok:before {
  content: "\e070";
}
.icon-ok-circle:before {
  content: "\e06f";
}
.icon-ok-sign:before {
  content: "\e06e";
}
.icon-paper-clip:before {
  content: "\e06d";
}
.icon-paper-clip-alt:before {
  content: "\e06c";
}
.icon-path:before {
  content: "\e06b";
}
.icon-plus-sign:before {
  content: "\e059";
}
.icon-print:before {
  content: "\e058";
}
.icon-qrcode:before {
  content: "\e057";
}
.icon-question:before {
  content: "\e056";
}
.icon-question-sign:before {
  content: "\e055";
}
.icon-quotes:before {
  content: "\e054";
}
.icon-quotes-alt:before {
  content: "\e053";
}
.icon-random:before {
  content: "\e052";
}
.icon-record:before {
  content: "\e051";
}
.icon-reddit:before {
  content: "\e050";
}
.icon-refresh:before {
  content: "\e04f";
}
.icon-screenshot:before {
  content: "\e03f";
}
.icon-search:before {
  content: "\e03e";
}
.icon-search-alt:before {
  content: "\e03d";
}
.icon-share:before {
  content: "\e03c";
}
.icon-share-alt:before {
  content: "\e03b";
}
.icon-shopping-cart:before {
  content: "\e03a";
}
.icon-shopping-cart-sign:before {
  content: "\e039";
}
.icon-signal:before {
  content: "\e038";
}
.icon-skype:before {
  content: "\e037";
}
.icon-slideshare:before {
  content: "\e036";
}
.icon-smiley:before {
  content: "\e035";
}
.icon-th-large:before {
  content: "\e023";
}
.icon-th-list:before {
  content: "\e022";
}
.icon-thumbs-down:before {
  content: "\e021";
}
.icon-thumbs-up:before {
  content: "\e020";
}
.icon-time:before {
  content: "\e01f";
}
.icon-time-alt:before {
  content: "\e01e";
}
.icon-tint:before {
  content: "\e01d";
}
.icon-torso:before {
  content: "\e01c";
}
.icon-trash:before {
  content: "\e01b";
}
.icon-trash-alt:before {
  content: "\e01a";
}
.icon-tumblr:before {
  content: "\e019";
}
.icon-w3c:before {
  content: "\e00a";
}
.icon-warning-sign:before {
  content: "\e009";
}
.icon-website:before {
  content: "\e008";
}
.icon-website-alt:before {
  content: "\e007";
}
.icon-wheelchair:before {
  content: "\e006";
}
.icon-wordpress:before {
  content: "\e005";
}
.icon-wrench:before {
  content: "\e004";
}
.icon-wrench-alt:before {
  content: "\e003";
}
.icon-youtube:before {
  content: "\e002";
}
.icon-zoom-in:before {
  content: "\e001";
}
.icon-zoom-out:before {
  content: "\e000";
}
.icon-pause-alt:before {
  content: "\e069";
}
.icon-pencil:before {
  content: "\e068";
}
.icon-pencil-alt:before {
  content: "\e067";
}
.icon-person:before {
  content: "\e066";
}
.icon-phone:before {
  content: "\e065";
}
.icon-phone-alt:before {
  content: "\e064";
}
.icon-photo:before {
  content: "\e063";
}
.icon-photo-alt:before {
  content: "\e062";
}
.icon-picasa:before {
  content: "\e061";
}
.icon-picture:before {
  content: "\e060";
}
.icon-pinterest:before {
  content: "\e05f";
}
.icon-plane:before {
  content: "\e05e";
}
.icon-play-alt:before {
  content: "\e05c";
}
.icon-play-circle:before {
  content: "\e05b";
}
.icon-plus:before {
  content: "\e05a";
}
.icon-remove:before {
  content: "\e04e";
}
.icon-remove-circle:before {
  content: "\e04d";
}
.icon-remove-sign:before {
  content: "\e04c";
}
.icon-repeat:before {
  content: "\e04b";
}
.icon-repeat-alt:before {
  content: "\e04a";
}
.icon-resize-full:before {
  content: "\e049";
}
.icon-resize-horizontal:before {
  content: "\e048";
}
.icon-resize-small:before {
  content: "\e047";
}
.icon-resize-vertical:before {
  content: "\e046";
}
.icon-retweet:before {
  content: "\e045";
}
.icon-reverse-alt:before {
  content: "\e044";
}
.icon-road:before {
  content: "\e043";
}
.icon-rss:before {
  content: "\e042";
}
.icon-screen:before {
  content: "\e041";
}
.icon-screen-alt:before {
  content: "\e040";
}
.icon-smiley-alt:before {
  content: "\e034";
}
.icon-speaker:before {
  content: "\e033";
}
.icon-stackoverflow:before {
  content: "\e032";
}
.icon-star:before {
  content: "\e031";
}
.icon-star-alt:before {
  content: "\e030";
}
.icon-star-empty:before {
  content: "\e02f";
}
.icon-stop-alt:before {
  content: "\e02b";
}
.icon-stumbleupon:before {
  content: "\e02a";
}
.icon-tag:before {
  content: "\e029";
}
.icon-tags:before {
  content: "\e028";
}
.icon-tasks:before {
  content: "\e027";
}
.icon-text-height:before {
  content: "\e026";
}
.icon-text-width:before {
  content: "\e025";
}
.icon-th:before {
  content: "\e024";
}
.icon-twitter:before {
  content: "\e018";
}
.icon-universal-access:before {
  content: "\e017";
}
.icon-unlock:before {
  content: "\e016";
}
.icon-unlock-alt:before {
  content: "\e015";
}
.icon-upload:before {
  content: "\e014";
}
.icon-user:before {
  content: "\e013";
}
.icon-video:before {
  content: "\e012";
}
.icon-video-alt:before {
  content: "\e011";
}
.icon-video-chat:before {
  content: "\e010";
}
.icon-view-mode:before {
  content: "\e00f";
}
.icon-vimeo:before {
  content: "\e00e";
}
.icon-vkontakte:before {
  content: "\e10e";
}
.icon-volume-down:before {
  content: "\e00d";
}
.icon-volume-off:before {
  content: "\e00c";
}
.icon-volume-up:before {
  content: "\e00b";
}
.icon-backward:before {
  content: "\e0ab";
}
.icon-fast-backward:before {
  content: "\e09a";
}
.icon-fast-forward:before {
  content: "\e099";
}
.icon-forward:before {
  content: "\e093";
}
.icon-play:before {
  content: "\e05d";
}
.icon-step-backward:before {
  content: "\e02e";
}
.icon-step-forward:before {
  content: "\e02d";
}
.icon-briefcase:before {
  content: "\e10d";
}
.icon-bullhorn:before {
  content: "\e10c";
}
.icon-calendar:before {
  content: "\e10b";
}
.icon-calendar-sign:before {
  content: "\e10a";
}
.icon-address-book:before {
  content: "\e0dd";
}
.icon-address-book-alt:before {
  content: "\e0dc";
}
.icon-adjust:before {
  content: "\e0db";
}
.icon-adult:before {
  content: "\e0da";
}
.icon-align-center:before {
  content: "\e0d9";
}
.icon-align-justify:before {
  content: "\e0d8";
}
.icon-align-left:before {
  content: "\e0d7";
}
.icon-align-right:before {
  content: "\e0d6";
}
.icon-arrow-down:before {
  content: "\e0d5";
}
.icon-arrow-left:before {
  content: "\e0d4";
}
.icon-arrow-right:before {
  content: "\e0af";
}
.icon-arrow-up:before {
  content: "\e0ae";
}
.icon-asl:before {
  content: "\e0ad";
}
.icon-asterisk:before {
  content: "\e0ac";
}
.icon-ban-circle:before {
  content: "\e0aa";
}
.icon-barcode:before {
  content: "\e0d3";
}
.icon-behance:before {
  content: "\e0d2";
}
.icon-bell:before {
  content: "\e0d1";
}
.icon-blind:before {
  content: "\e0d0";
}
.icon-blogger:before {
  content: "\e0cf";
}
.icon-bold:before {
  content: "\e0ce";
}
.icon-book:before {
  content: "\e0f5";
}
.icon-bookmark:before {
  content: "\e0f4";
}
.icon-bookmark-empty:before {
  content: "\e0f3";
}
.icon-braille:before {
  content: "\e0f2";
}
.icon-camera:before {
  content: "\e0a9";
}
.icon-cc:before {
  content: "\e0a8";
}
.icon-certificate:before {
  content: "\e0a7";
}
.icon-check:before {
  content: "\e0a6";
}
.icon-check-empty:before {
  content: "\e0a5";
}
.icon-chevron-down:before {
  content: "\e0a4";
}
.icon-chevron-left:before {
  content: "\e0cd";
}
.icon-chevron-right:before {
  content: "\e0cc";
}
.icon-chevron-up:before {
  content: "\e0cb";
}
.icon-child:before {
  content: "\e0ca";
}
.icon-circle-arrow-down:before {
  content: "\e0c9";
}
.icon-circle-arrow-left:before {
  content: "\e0c8";
}
.icon-circle-arrow-right:before {
  content: "\e0f1";
}
.icon-circle-arrow-up:before {
  content: "\e0f0";
}
.icon-cloud:before {
  content: "\e0ef";
}
.icon-cloud-alt:before {
  content: "\e0ee";
}
.icon-cog:before {
  content: "\e109";
}
.icon-cog-alt:before {
  content: "\e108";
}
.icon-cogs:before {
  content: "\e107";
}
.icon-comment:before {
  content: "\e106";
}
.icon-comment-alt:before {
  content: "\e0a3";
}
.icon-compass:before {
  content: "\e0a2";
}
.icon-compass-alt:before {
  content: "\e0a1";
}
.icon-credit-card:before {
  content: "\e0a0";
}
.icon-css:before {
  content: "\e09f";
}
.icon-dashboard:before {
  content: "\e09e";
}
.icon-delicious:before {
  content: "\e0c7";
}
.icon-deviantart:before {
  content: "\e0c6";
}
.icon-digg:before {
  content: "\e0c5";
}
.icon-download:before {
  content: "\e0c4";
}
.icon-download-alt:before {
  content: "\e0c3";
}
.icon-dribble:before {
  content: "\e0c2";
}
.icon-edit:before {
  content: "\e0ed";
}
.icon-eject:before {
  content: "\e0ec";
}
.icon-envelope:before {
  content: "\e0eb";
}
.icon-envelope-alt:before {
  content: "\e0ea";
}
.icon-error:before {
  content: "\e105";
}
.icon-error-alt:before {
  content: "\e104";
}
.icon-exclamation-sign:before {
  content: "\e103";
}
.icon-eye-close:before {
  content: "\e102";
}
.icon-eye-open:before {
  content: "\e09d";
}
.icon-facebook:before {
  content: "\e09c";
}
.icon-facetime-video:before {
  content: "\e09b";
}
.icon-female:before {
  content: "\e098";
}
.icon-file:before {
  content: "\e0c1";
}
.icon-file-alt:before {
  content: "\e0c0";
}
.icon-file-edit:before {
  content: "\e0bf";
}
.icon-file-edit-alt:before {
  content: "\e0be";
}
.icon-file-new:before {
  content: "\e0bd";
}
.icon-file-new-alt:before {
  content: "\e0bc";
}
.icon-film:before {
  content: "\e0e9";
}
.icon-filter:before {
  content: "\e0e8";
}
.icon-fire:before {
  content: "\e0e7";
}
.icon-flag:before {
  content: "\e0e6";
}
.icon-flag-alt:before {
  content: "\e101";
}
.icon-flickr:before {
  content: "\e100";
}
.icon-folder:before {
  content: "\e0ff";
}
.icon-folder-close:before {
  content: "\e0fe";
}
.icon-folder-open:before {
  content: "\e097";
}
.icon-folder-sign:before {
  content: "\e096";
}
.icon-font:before {
  content: "\e095";
}
.icon-fontsize:before {
  content: "\e094";
}
.icon-forward-alt:before {
  content: "\e092";
}
.icon-foursquare:before {
  content: "\e0bb";
}
.icon-friendfeed:before {
  content: "\e0ba";
}
.icon-friendfeed-rect:before {
  content: "\e0b9";
}
.icon-fullscreen:before {
  content: "\e0b8";
}
.icon-gift:before {
  content: "\e0b7";
}
.icon-github:before {
  content: "\e0b6";
}
.icon-github-text:before {
  content: "\e0e5";
}
.icon-glass:before {
  content: "\e0e4";
}
.icon-glasses:before {
  content: "\e0e3";
}
.icon-globe:before {
  content: "\e0e2";
}
.icon-globe-alt:before {
  content: "\e0fd";
}
.icon-googleplus:before {
  content: "\e0fc";
}
.icon-graph:before {
  content: "\e0fb";
}
.icon-graph-alt:before {
  content: "\e0fa";
}
.icon-group:before {
  content: "\e091";
}
.icon-group-alt:before {
  content: "\e090";
}
.icon-guidedog:before {
  content: "\e08f";
}
.icon-hand-down:before {
  content: "\e08e";
}
.icon-hand-left:before {
  content: "\e08d";
}
.icon-hand-right:before {
  content: "\e08c";
}
.icon-hand-up:before {
  content: "\e0b5";
}
.icon-hdd:before {
  content: "\e0b4";
}
.icon-headphones:before {
  content: "\e0b3";
}
.icon-hearing-impaired:before {
  content: "\e0b2";
}
.icon-heart:before {
  content: "\e0b1";
}
.icon-heart-alt:before {
  content: "\e0b0";
}
.icon-heart-empty:before {
  content: "\e0e1";
}
.icon-home:before {
  content: "\e0e0";
}
.icon-home-alt:before {
  content: "\e0df";
}
.icon-idea:before {
  content: "\e0de";
}
.icon-idea-alt:before {
  content: "\e0f9";
}
.icon-inbox:before {
  content: "\e0f8";
}
.icon-inbox-alt:before {
  content: "\e0f7";
}
.icon-inbox-box:before {
  content: "\e0f6";
}
.icon-indent-left:before {
  content: "\e08b";
}
.icon-indent-right:before {
  content: "\e08a";
}
.icon-info-sign:before {
  content: "\e089";
}
.icon-instagram:before {
  content: "\e088";
}
.icon-iphone-home:before {
  content: "\e087";
}
.icon-italic:before {
  content: "\e086";
}
.icon-key:before {
  content: "\e085";
}
.icon-laptop:before {
  content: "\e084";
}
.icon-laptop-alt:before {
  content: "\e083";
}
.icon-leaf:before {
  content: "\e082";
}
.icon-linkedin:before {
  content: "\e081";
}
.icon-list:before {
  content: "\e080";
}
.icon-list-alt:before {
  content: "\e07f";
}
.icon-lock:before {
  content: "\e07e";
}
.icon-lock-alt:before {
  content: "\e07d";
}
.icon-magnet:before {
  content: "\e07c";
}
.icon-male:before {
  content: "\e07b";
}
.icon-map-marker:before {
  content: "\e07a";
}
.icon-map-marker-alt:before {
  content: "\e079";
}
.icon-mic:before {
  content: "\e078";
}
.icon-mic-alt:before {
  content: "\e077";
}
.icon-minus:before {
  content: "\e076";
}
.icon-minus-sign:before {
  content: "\e075";
}
.icon-pause:before {
  content: "\e06a";
}
.icon-fork:before {
  content: "\e10f";
}
.icon-broom:before {
  content: "\e110";
}
.icon-return-key:before {
  content: "\e111";
}
.icon-lastfm:before {
  content: "\e112";
}
.icon-livejournal:before {
  content: "\e113";
}
.icon-myspace:before {
  content: "\e114";
}
.icon-soundcloud:before {
  content: "\e115";
}
.icon-viadeo:before {
  content: "\e116";
}
.icon-spotify:before {
  content: "\e117";
}
.icon-caret-left:before {
  content: "\e119";
}
.icon-caret-up:before {
  content: "\e02c";
}
.icon-caret-right:before {
  content: "\e118";
}
.icon-caret-down:before {
  content: "\e11a";
}

.lastname{
  margin-left: 4px;
}

#cart_container{
  font-family: 'Open Sans', sans-serif !important;
}


#submitfailure{
float: left;
width: 100%;
background: rgb(255, 128, 128);
max-width: 561px;
padding: 6px;
}
#submitfailure p {
color: white;
text-align: left;
font-size: 14px;
line-height: 1.2em;
margin: 7px;

}

.checkout-sidebar{
  display: none;
}