<!-- Travel Times -->
<div class="tour-times"> 
<div ng-if="arActivity.uniqueTimes.length == 0">
	Sorry, no times for this activity.
</div>
<div ng-repeat="time in tourObj.times">
<img src="//cdn.discoverhawaiitours.com/wp-content/uploads/icon_clock.png" style="margin-right:5px;" /><input type="radio" name="departure_time" value="{{time.tourId}}" ng-click="setTourId(time.tourId)" ng-model="tourObj.tourId" /> Depart: {{time.departure}} * | Return: {{time.arrival}} *<br />
</div>
<span>*All Tour Times Approximate</span>
</div>