<div class="activextras">
    <div class="tour-pricing" ng-if="tourObj.variations">
			<table width="100%">
			    <tr>
						<td ng-repeat="variation in tourObj.variations | visible_variations">
							<div class="tour-pricing-name" ng-bind="variation.name"></div> 
							<div class="tour-pricing-price" ng-bind-html="variation.price | split_cents:true:'Free'"></div> 
						</td>
			    </tr>
			</table>
    </div>
</div>