<div class="activitymodal-availcal">
    <div ng-show="!isPackageItem">
        <div ng-show="!isPackageItem">
            <div ng-include="'Calendar.html'"></div>
        </div>
        <div class="key">
            <div class="keyavail legend"><span></span><span class="legend_name">Available</span></div>
            <div class="keyunavail legend"><span></span><span class="legend_name">Unavailable</span></div>
            <div class="clear"></div>
        </div>
    </div>
    <form action="" name="addToCartForm">
        <ul class="availentry">
            <li>
                <li>
                    <div class="additional-dates-selection" ng-show="isPackageItem">
                        <h2 class="package-items-header">Please choose a date for each activity.</h2>
                        <div class="input-append package-item-input-append" ng-repeat="packageItem in tourObj.package_items">
													<div ng-form="package-item-form">
                            <label for="tourDate" class="package-item-name">{{packageItem.name}}</label>
                            <input name="package-item-date" readonly type="text" class="availdatefield" ng-model="packageItem.tourDate" data-placement="bottom" data-popover-class="toolcal" data-availability="true" data-activity-id="{{package_item.id}}" popover-cal />
                            <span class="add-on" ng-model="packageItem.tourDate" data-placement="bottom" data-availability="true" data-activity-id="{{package_item.id}}" data-popover-class="toolcal" popover-cal>
				<i class="icon-calendar"></i>
			    </span>				  </div>
                        </div>
                    </div>
                    <div class="input-append avail-date-div" ng-show="!isPackageItem">
                        <label for="tourDate">Select a date above.</label>
                        <input readonly placeholder="" type="text" name="tourDate" class="availdatefield" ng-model="tourDate" ng-required="!isPackageItem" />
                        <span class="add-on">
			    <i class="icon-calendar"></i>
			</span>
                    </div>
                </li>
                <li>
                    <ul class="inline participants">
                        <li ng-repeat="variation in tourObj.variations | visible_variations">
                                <label for="{{variation.name}}Qty">{{variation.name}}</label>
                                <select data-price="{{variation.price}}" data-tour-id="{{variation.tour_id}}" name="variationQuantity" ng-change="validateQuantities()" ng-options="n for n in [] | range:0:10" class="input-mini" ng-model="variation.quantity">
                                </select>
                        </li>
                    </ul>
                </li>
                <li ng-controller="CartCtrl" class="buttonspace">
                    <a href="javascript:;" role="button" ng-class="{'disable':!isValidForm(addToCartForm)}" class="btn cart" ng-click="!isValidForm(addToCartForm) || addToSimpleJsCart(tourObj, tourDate)"><i class="icon-shopping-cart"></i> Add To Cart</a>

                </li>
        </ul>
    </form>
</div>