<div class="attcal vis" ng-controller="BookCtrl">
  <div class="actatr">   
	    <div class="actatt">
		    <div ng-include="'ActivityPrices.html'"></div>
		    <div ng-include="'ActivityTimes.html'"></div>
		    <div class="incairf" ng-show="tourObj.airline_required"></div>
		    <div class="incmeal" ng-show="tourObj.lunches.lunches_required"></div>
				<div class="clearfix"></div>
	    </div>
	</div>
	<div class="activitysidebarcal"  ng-init="initNewCalendar('sidebar-cal')">
		<div ng-include="'AddToCart.html'"></div>
	</div>
</div>