<div>
	<div class="cal-wrapper">
	    <div class="cal-loader">
			<img src="//cdn.discoverhawaiitours.com/wp-content/themes/theme_master/assets/img/omar_ajax_load.gif" />
		</div>
		<div class="cal-obj" id="{{calendarId}}"></div>
	</div>
</div>