<header>
    <div class="cartlabel">
       <div class="carttitle">
            Review Your Tours
        </div>
        <div class="clear"></div>
    </div>
</header>
<div class="cart_items_header crt"><div>
    <div class="carttitle">Your Shopping Cart</div>
    <div class="security_notice">
	<i class="icon-lock"></i>All information is encrypted and submitted securely through our secure sockets layer protocol.
    </div>
</div></div>

<div id="cart_container" ng-cloak class="ng-cloak">

    <div class="cart_empty" ng-if="cartLoaded && !hasItems()">
			<div>
				Sorry, your cart is empty.
				<a href="javascript:;" ng-click="goHome()">Find a Tour</a>.
			</div>
    </div>
<!-- 
    <div ng-if="!cartLoaded" class="loadingcart">
			Your Cart is Loading ...<br/>
			<img src="//cdn.discoverhawaiitours.com/wp-content/themes/theme_master/assets/img/omar_ajax_load.gif" />
		</div>
-->
    
    <table class="cart_items_table" ng-repeat="item in cartItems">
	<tr class="cart_item_row">
	    <td class="span9">
		<table class="cart_item_table">
		    <tr>
			<td class="activity_thumb pad10"><div><img ng-src="{{thumbBase + item.thumb}}" /></div></td>
			<td class="activity_info pad10">
			    <div class="activity_info_content">
				<h3><i class="icon-calendar"></i> {{item.date}}</h3>
				<h2>{{item.name}}</h2>
			    </div>
			</td>
			<td class="activity_paxselect">
			    <table>
				<tr>
				    <td ng-repeat="variation in item.variations" class="pad10">
					<div class="pricing_info">
					    <span class="price {{variation.name}}_price" ng-bind-html="variation.price | split_cents:false:'free'"></span></span>
					</div>
					<div class="quantity_info">
					    <select data-tour-id="{{variation.tourId}}" ng-change="updateQuantity(variation, item)" ng-model="variation.quantity" ng-options="n for n in [] | range:0:100" class="quantity {{variation.name}}_quantity">
					    </select>
					</div>
					<span class="quantity_name" ng-bind-html="variation.name"></span>
				    </td>
				</tr>
			    </table>
			</td>
			<td class="activity_actions pad10">
			    <a href="javascript:;" class="remove_link" ng-click="removeCartDate(item)">x</a>
			</td>
		    </tr>
		</table>
	    </td>
	    <td class="activity_subtotal_container span3"><div class="activity_subtotal"><p>TOUR TOTAL</p><span class="price" ng-bind-html="item.subtotal | split_cents"></span></div></td>
	</tr>
    </table>
</div>

<div class="cart-footer">
    <div class="span9">
	<div class="row-fluid">
	    <div class="continue span6" ><div class="btn blank">
		<a href="javascript:;" ng-click="goHome()"><i class="icon-compass"></i>Discover More <span>and</span><br />Continue Shopping</a>
	    </div></div>
	    
	    <div class="cartcoupon span6" ng-controller="CouponCtrl">
		<div ng-form="couponForm" name="couponForm">
		    <input type="text" placeholder="Coupon Code" class="couponfield" name="coupon" ng-model="coupon" /><a href="javascript:;" class="btn" ng-click="fetchInfo()">Apply</a>
		    <span ng-show="couponForm.coupon.$error.invalidCode" class="invalid_coupon_code">That code is invalid</span>
		    <span ng-show="couponForm.coupon.$error.alreadyUsed" class="invalid_coupon_code">That code was already used</span>
		</div>
	    </div>
	</div>
	<div class="row-fluid">
	    <div class="promise_col padtop20 span4"><div>
		<h4><i class="icon-ok-sign"></i> Risk Free Reservations</h4>
		<p>If your plans change for any reason and do not include airfare, at least 48 hours prior to your tour, receive a 100% refund.</p>
	    </div></div>
	    <div class="promise_col padtop20 span4"><div>
		<h4><i class="icon-ok-sign"></i> Low Price Guarantee</h4>
		<p>Our online prices ensure that you receive the lowest price available
	    </div></div>
	    <div class="promise_col padtop20 span4"><div>
		<h4><i class="icon-ok-sign"></i> Peace of Mind</h4>
		<p>Book ahead to avoid sold-out tours and activities, avoid long lines, and secure your seats on Hawaii's top tours and destinations.</p>
	    </div></div>
	    <div class="clear"></div>
	</div>
    </div>
    
    <div class="cart_totalcart span3" ng-if="cartItems.length > 0"><div>
			<div ng-include="'TotalCart.html'"></div>
    </div>
		<div id="booking-help-module">
        <div class="pad30">
            <h3>Need Help Booking?</h3>
		        <div id="booking-desc">Call our reservation specialist to speak with one of our experts who is ready to help you with all your booking needs</div>
						<div id="booking-help-number">
							<i class="icon-phone"></i><span><a href="tel:808-737-3700">808-690-9050</a></span>
						</div>
        </div>
    </div>
    </div>

    <div class="clear"></div>
</div>
