<div class="shopping-cart-wrapper" ng-if="itemCount" ng-cloak>
	<div>
	    <a target="_parent" href="{{checkoutLink}}" class="visitshop" title="View Cart" role="button"><i class="icon-shopping-cart"></i>
	    &nbsp;<span ng-bind="itemCount"></span></a>
	</div>
</div>