<?php /* Template Name: Node Checkout */ ?>
<div id="checkout_container">
    
    <div class="checkout-sidebar">
        <div class="cart_total span3">

            <div class="cart_items_header">
                <div class="pad20">
                    <div class="carttitle">{{orderTitle || cartTitle}}</div>
                    <div class="security_notice">
                        <i class="icon-lock"></i>All information is encrypted and submitted securely through our secure sockets layer protocol.
                    </div>
                </div>
            </div>
            <div ng-include="'TotalCheckout.html'"></div>
            <div id="booking-help-module">
                <div class="pad30">
                    <h3>Need Help Booking?</h3>
 						        <div id="booking-desc">Call our reservation specialist to speak with one of our experts who is ready to help you with all your booking needs</div>
										<div id="booking-help-number">
											<i class="icon-phone"></i><span>808-690-9050</span>
										</div>
                </div>
            </div>
        </div>
    </div>
    <div id="wpsc_checkout_process">
        <ul class="wpsc_checkout_errors"></ul>
        <a name="formtop" class="orderform"></a>
        <div id="wizard" class="wizard-default-style">
            <form method="post" enctype="multipart/form-data" class="checkout_form">
                <div class="modal-cart-header">
                    <div ng-include="'Steps.html'"></div>
                </div>
                <div class="step_content" ng-switch="getCurrentStep()" ng-animate="'step'" ng-cloak>
	                  <div ng-switch-when="one" ng-form="step_form" class="step step1">
										<div ng-include="'Step1.html'" ></div>
										</div>
										<div ng-switch-when="two" ng-form="step_form" class="step step2" ng-init="setCurrentForm(step_form)">
										<div ng-include="'Step2.html'"></div>
										</div>
										<div ng-switch-when="thanks" ng-form="step_form" class="step thanks" step>
										<div ng-include="'Step3.html'"></div>
										</div>
                </div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
    <div class="clear"></div>
</div>